
<md-subheader class="md-no-sticky" style="background-color: #cccccc"><h2>{{gTopic}}</h2></md-subheader>
<div><md-button class="md-icon-button" ng-click="addNewAttrib()" class="md-raised md-primary"> <md-icon md-svg-src="../img/ic_add_24px.svg"></md-icon></md-button></div>


<md-data-table-container >

  <table md-table  md-progress="deferred" >
    <thead md-head style="background-color: #cccccc">
    <tr md-row>
      <th md-column style="color: #323232"><h3>ID</h3></th>
      <th md-column style="color: #323232"><h3>Name</h3> </th>
      <th md-column style="color: #323232"><h3>Other Data</h3> </th>
      <th md-column style="color: #323232"><h3>Status</h3> </th>



    </tr>
    </thead>
    <tbody md-body>
    <tr md-row layout-align="center center" md-auto-select ng-repeat="attrib in attribData | limitTo: query.limit: (query.page - 1) * query.limit">
      <td md-cell>{{attrib.AttributeId}}</td>
      <td md-cell>{{attrib.Attribute}}</td>
      <td md-cell>{{attrib.OtherData}}</td>
      <td md-cell>{{attrib.Status}}</td>
      <td md-cell>
        <div layout="raw">
          <md-button class="md-icon-button" ng-click="ViewAttribute(attrib)" class="md-raised md-primary"><md-icon md-svg-src="../img/edit26.svg"></md-icon></md-button>
          <md-button class="md-icon-button" ng-click="DeleteAttribute(attrib)" class="md-raised md-warn" ng-disabled="isDisabled" ><md-icon md-svg-src="../img/ic_delete_24px.svg"></md-icon></md-button>

        </div>

      </td>


    </tr>
    </tbody>
  </table>

</md-data-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total={{total}}></md-table-pagination>
<br>
<br>






