<div class="page-title">
    <div class="title_left">
        <h3 class="font-robot font-600 ">attributes</h3>
    </div>
</div>


<div class="row">

    <div class="col-lg-12">
        <div class="attribute customer-side-header">
            <div class="tab1 m-r-10"
                 ng-class="attributes==false?'selected-attr-btn':
                 'select-attr-btn'" ng-click="changeView(false)">
                ATTRIBUTES
            </div>
            <div class="tab2"
                 ng-class="attributes==true?'selected-attr-btn':
                 'select-attr-btn'" ng-click="changeView(true)">
                GROUP MANAGER
            </div>
        </div>
    </div>


    <div ng-show="!attributes" class="new-attribute col-md-8 col-sm-6 col-xs-12 col-md-offset-2 ">
        <div class="x_panel ">
            <div class="x_title border-0">
                <h2 class="font-robot font-300 text-uppercase font-15">Add new attribute</h2>
                <div class="col-xs-12">
                    <div class="tile-stats m-top15">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="attribute.Attribute"
                                       id="AttributeId" placeholder="Attribute">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="attribute.OtherData"
                                       style="" id="OtherData" placeholder="Other">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success btn-sm pull-right attribute-btn  "
                                        ng-click="saveAttribute(attribute)">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div class="x_panel">
            <div class="x_content">
                <ul class="list-unstyled timeline">
                    <li ng-repeat="attrib in attribData">
                        <editattribute attribute="attrib" update-attribute="removeDeleted(attrib)"></editattribute>
                    </li>

                    <paging ng-show="showPaging"
                            class="small"
                            page="currentPage"
                            page-size="pageSize"
                            total="pageTotal"
                            show-prev-next="true"
                            show-first-last="true"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            paging-action="getPageData('attribute', page, pageSize, total)">
                    </paging>
                </ul>

            </div>
        </div>

    </div>

    <div ng-if="attributes" class="col-md-8 col-sm-6 col-xs-12 col-md-offset-2 ">
        <div class="x_panel">
            <div class="x_title border-0">
                <h2 class="font-robot font-300 text-uppercase font-15">Group Manager</h2>
                <div class="col-xs-12">
                    <div class="tile-stats m-top15">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="grp.GroupName"
                                       placeholder="Group Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="grp.GroupType"
                                       placeholder="Type">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="grp.Percentage"
                                       placeholder="Percentage">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" ng-model="grp.OtherData"
                                       placeholder="Other Data">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>



                            <div class="col-md-2">
                                <button type="button" class="btn btn-success attribute-btn btn-xs "
                                        ng-click="saveGroup(grp)">Add
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="x_panel ">
            <div class="x_content">
                <ul class="list-unstyled timeline">
                    <li ng-repeat="grp in groupsData">
                        <editgroups groupinfo="grp" attribinfo="attribData"
                                    update-groups="removeDeletedGroup(grp)"></editgroups>
                    </li>

                    <paging ng-show="showPaging"
                            class="small"
                            page="currentGrpPage"
                            page-size="pageSize"
                            total="pageGrpTotal"
                            show-prev-next="true"
                            show-first-last="true"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            paging-action="getPageData('groups', page, pageSize, total)">
                    </paging>
                </ul>
            </div>
        </div>
    </div>

</div>
