

<div layout="column"  flex-lt-md="80%">

  <md-content layout-padding style="background-color: lightgrey">

    <form name="editAttribForm">


      <md-toolbar class="md-table-toolbar md-default">
        <label style="padding:2% 0% 0% 5% ;  background-color: darkgray"><h4 style="color: #ffffff">Edit Attribute</h4></label>
      </md-toolbar>


      <div  layout-gt-sm="row">

        <md-input-container  class="md-block" flex-gt-sm>
          <label for="AttributeId" style="color: blue">Attribute ID</label>
          <input ng-model="DataObj.AttributeId" disabled id="AttributeId" style="color: gray;">

        </md-input-container>

        <div flex="5" hide-xs hide-sm>
          <!-- Spacer //-->
        </div>

        <md-input-container  class="md-block" flex-gt-sm>
          <label style="color: blue" >Attribute</label>
          <input type="text"  name = "Attribute" ng-model="editObj.Attribute"  required />

          <span style="color:red" ng-show="editAttribForm.Attribute.$dirty && editAttribForm.Attribute.$invalid">

</span>
        </md-input-container>
      </div>

    <!--  <div  layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue" >Attribute Class</label>
            <input type="text"  name = "AttClass" ng-model="editObj.AttClass" required />

          <span style="color:red" ng-show="editAttribForm.AttClass.$dirty && editAttribForm.AttClass.$invalid">

</span>


          </md-input-container>
        <div flex="5" hide-xs hide-sm>-->
          <!-- Spacer //-->
      <!--  </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue" >Attribute Type</label>
            <input type="text"  name = "AttType" ng-model="editObj.AttType"   required />

          <span style="color:red" ng-show="editAttribForm.AttType.$dirty && editAttribForm.AttType.$invalid">

</span>

        </div>-->

      <div  layout-gt-sm="row">
       <!--   <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue" >Attribute Category</label>
            <input type="text"  name = "AttCategory" ng-model="editObj.AttCategory"  required />

          <span style="color:red" ng-show="editAttribForm.AttCategory.$dirty && editAttribForm.AttCategory.$invalid">

</span>

          </md-input-container>

        <div flex="5" hide-xs hide-sm>-->
          <!-- Spacer //-->
     <!--   </div>-->

          <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue">OtherData</label>
            <input type="text" name="otherData" ng-model="editObj.OtherData"  required/>

            <span style="color:red" ng-show="editAttribForm.otherData.$dirty && editAttribForm.otherData.$invalid"></span>

          </md-input-container>

        </div>

      <div  >

        <md-input-container style="background-color: lightgrey;padding: 0% 0% 0% 70%">
          <div align="row">
            <md-button class="md-icon-button" class="md-raised md-primary" ng-click="SaveUpdated(DataObj.AttributeId)" ng-disabled="isDisabled || editAttribForm.$invalid"><md-icon md-svg-src="../img/ic_save_24px.svg"></md-icon></md-button><md-button class="md-icon-button" class="md-raised md-primary" ng-click="Erase()" ng-disabled="isDisabled"><md-icon md-svg-src="../img/ic_arrow_back_24px.svg"></md-icon></md-button>
          </div>


        </md-input-container>



</div>

    </form>
  </md-content>

</div>



