
<md-data-table-toolbar>
    <h2 class="md-title">Update Attribute Details</h2>

</md-data-table-toolbar>
<md-data-table-container>

    <table md-data-table  md-progress="deferred">

        <tbody>
        <tr>
            <td><h3 >Attribute Details</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>Group ID</td>
            <td >{{GDataObj.GroupId}}</td>
        </tr>
        <tr>
            <td>GroupName</td>
            <td ><input type="text" ng-model="editObj.GroupName"  placeholder="{{DataObj.GroupName}}"/></td>

        </tr>
        <tr>
            <td>OtherData</td>
            <td ><input type="text" ng-model="editObj.OtherData" placeholder="{{GDataObj.OtherData}}"/></td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td ><input type="text" ng-model="editObj.Percentage" placeholder="{{GDataObj.Percentage}}"/></td>
        </tr>

        <tr>
          <td>Attributes</td>
          <td ><md-chips  ng-model="ctrl.groupTasks" md-on-add="ctrl.OnChipAdd($chip)" md-on-remove="ctrl.OnChipDelete($chip)" md-autocomplete-snap
                          md-transform-chip="ctrl.transformChip($chip)"
                          md-require-match="ctrl.autocompleteDemoRequireMatch">
            <md-autocomplete
              md-selected-item="ctrl.selectedItem"
              md-search-text="ctrl.searchText"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.Attribute"
              placeholder="Search for a Attributes">
              <span md-highlight-text="ctrl.searchText">{{item.Attribute}}</span>
            </md-autocomplete>
            <md-chip-template>
        <span>
         <strong>{{$chip.Attribute}}</strong>
          <em>(attribute)</em>

        </span>
            </md-chip-template>

          </md-chips></td>

        </tr>

        <tr>

            < >
<div>
              <md-input-container style="background-color: lightgrey;padding: 0% 0% 0% 70%">
                <div align="row">
                  <md-button class="md-raised md-primary" ng-disabled="isDisabled" ng-click="SaveUpdated(GDataObj.GroupId)" >Save</md-button>
          </div>


          </md-input-container>

          </div>
          </td>

        </tr>
        </tbody>
    </table>

</md-data-table-container>



