
<div ng-controller="MapController as ctrl" layout="column" class="chipsdemoBasicUsage">

    <md-data-table-toolbar>
        <h2 class="md-title">Assign Attributes To Group</h2>

    </md-data-table-toolbar>
    <md-data-table-container>

        <table md-data-table  md-progress="deferred">

            <tbody>
            <tr>
                <td><h3 >Attribute Assigning</h3></td>
                <td></td>
            </tr>
            <tr>
                <td>Group ID</td>
                <td >{{DataObj.GroupId}}</td>
            </tr>
            <tr>
                <td>GroupName</td>
                <td >{{DataObj.GroupName}}</td>

            </tr>
            <tr>
                <td>Attributes</td>
                <td ><md-chips ng-model="ctrl.NewList" md-require-match="ctrl.autocompleteDemoRequireMatch" >
                    <md-chip-template>
                        <strong>{{$chip}}</strong>

                    </md-chip-template>
                </md-chips></td>
            </tr>

            <tr>

                <td ><md-button class="md-raised md-primary" ng-click="ctrl.SaveData(DataObj.GroupId)">Save</md-button></td>
            </tr>
            </tbody>
        </table>

    </md-data-table-container>


</div>








