
<div layout="column"  flex-lt-md="80%">
  <md-content layout-padding style="background-color: lightgrey"  >

    <form name="newGrpForm" >



      <md-toolbar class="md-table-toolbar md-default">
        <label style="padding:2% 0% 0% 5% ;  background-color: darkgray"><h4 style="color: #ffffff">New Group</h4></label>
      </md-toolbar>


      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label style="color: blue" >Group Name</label>
          <input type="text"  name = "Group" ng-model="newGrp.GroupName" align="left" required/>

          <span style="color:red" ng-show="newGrpForm.Group.$dirty && newGrpForm.Group.$invalid">

</span>
        </md-input-container>


        <md-input-container class="md-block" flex-gt-sm>
          <label style="color: blue">OtherData</label>
          <input type="text" name="otherData" ng-model="newGrp.OtherData" required/>

          <span style="color:red" ng-show="newGrpForm.otherData.$dirty && newGrpForm.otherData.$invalid"></span>

        </md-input-container>


    <!--    <div flex="5" hide-xs hide-sm> -->
          <!-- Spacer //-->
        <!--    </div>

              <md-input-container class="md-block" flex-gt-sm>
                <label style="color: blue" >Group Class</label>
                <input type="text"  name = "GroupClass" ng-model="newGrp.GroupClass" required />

                <span style="color:red" ng-show="newGrpForm.GroupClass.$dirty && newGrpForm.GroupClass.$invalid">

      </span>
              </md-input-container> -->

      </div>

      <!--  <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue" >Group Type</label>
            <input type="text"  name = "GroupType" ng-model="newGrp.GroupType"   required />

            <span style="color:red" ng-show="newGrpForm.GroupType.$dirty && newGrpForm.GroupType.$invalid">

  </span>
          </md-input-container>
          <div flex="5" hide-xs hide-sm>

          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <label style="color: blue" >Group Category</label>
            <input type="text"  name = "GroupCategory" ng-model="newGrp.GroupCategory"  required />

            <span style="color:red" ng-show="newGrpForm.GroupCategory.$dirty && newGrpForm.GroupCategory.$invalid">

  </span>

          </md-input-container>


        </div> -->

      <div layout-gt-sm="row">


        <md-input-container class="md-block" flex-gt-sm>
          <label style="color: blue">Percentage</label>
          <input type="number" name="Percentage" min="0" max="100" ng-model="newGrp.Percentage" required ng-pattern="/^(?:100|[1-9]?[0-9])$/"/>

          <span style="color:red" ng-show="newGrpForm.Percentage.$dirty && newGrpForm.Percentage.$invalid"></span>

        </md-input-container>

      </div>

      <div >
        <md-input-container style="background-color: lightgrey ;padding: 0% 0% 0% 70%" >
          <div layout="row">
            <md-button class="md-icon-button" class="md-raised md-primary" ng-click="AddNewGroup(newGrp)" ng-disabled="isDisabled || newGrpForm.$invalid "><md-icon md-svg-src="../img/ic_save_24px.svg"></md-icon></md-button>
            <md-button class="md-icon-button" class="md-raised md-primary" ng-click="HideDialog()" ng-disabled="isDisabled"><md-icon md-svg-src="../img/ic_arrow_back_24px.svg"></md-button></md-button>
            </div>


          <!--/*newGrpForm.otherData.$dirty && newGrpForm.otherData.$invalid ||
          newGrpForm.Group.$dirty && newGrpForm.Group.$invalid || !newGrpForm.Percentage.$dirty && newGrpForm.Percentage.$invalid || !OtherData.length || !GroupName.length */
        -->
        </md-input-container>

      </div>

    </form>

  </md-content>
</div>








