
<div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table table-striped task-tbl">
        <thead>
        <tr>
            <th class="fs15 text-left">QueueID</th>
            <th class="fs15 text-left">Queue Name</th>
            <th class="fs15 text-right">Avg. Wait Time</th>
            <th class="fs15 text-right">Current waiting</th>
            <th class="fs15 text-right">Max waiting</th>
            <th class="fs15 text-right">Current max waiting</th>
            <th class="fs15 text-right">Precentage</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <!--<th class="fs15 text-left">
                <div ng-repeat="call in callInfos">
                    <small>connect with : {{call["Caller-Caller-ID-Number"]}}</small>
                    <small>Direction : {{call["DVP-Call-Direction"]}}</small>
                </div>
            </th>-->
            <th class="fs15 text-left">{{que.id}}</th>
            <th class="fs15 text-right">{{val}}</th>
            <th class="fs15 text-right">{{que.AverageWaitTime| secondsToDateTime | date:'HH:mm:ss'}}</th>
            <th class="fs15 text-right">{{que.CurrentWaiting| secondsToDateTime | date:'HH:mm:ss'}}</th>
            <th class="fs15 text-right">{{que.MaxWaitTime| secondsToDateTime | date:'HH:mm:ss'}}</th>
            <th class="fs15 text-right">{{que.MaxWaitTime| secondsToDateTime | date:'HH:mm:ss'}}</th>
            <th class="fs15 text-right">{{que.CurrentMaxWaitTime| secondsToDateTime | date:'HH:mm:ss'}}</th>
            <th class="fs15 text-right">{{que.presentage}}</th>

        </tr>

        </tbody>
    </table>

</div>






<!--

<div class="byline">
    <span>{{resource.createdAt|date:'MM/dd/yyyy @ h:mma'}}</span>
</div>
<div >
    <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
        <label class="form-control-static">Queue ID</label>
        <p>{{que.id}} </p>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
        <label class="form-control-static">Queue Name</label>
        <p>{{val}} </p>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
        <label class="form-control-static">Average Wait Time</label>
        <p>{{que.AverageWaitTime}} </p>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
        <label class="form-control-static">Precentage</label>
        <p>{{que.presentage}} </p>
    </div>

    &lt;!&ndash;<p class="excerpt col-md-3" ng-if="IsDeveloper"> Developer : {{application.AppDeveloper.Username}} </p>&ndash;&gt;
</div>
<div class="clearfix"></div>-->
