<div class="page-title">
    <div class="title_left">
        <h3 class="font-robot font-600 ">Sip User Configuration</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-7 col-sm-5 col-xs-12" style="padding-right: 0px;">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-md-6">
                    <h2 class="font-robot font-300 text-uppercase font-15">Current sip users</h2>
                </div>
                <div class="col-md-6 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchCriteria" class="form-control"
                               placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="search-main-wrap" ng-if="!dataReady">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="data-state-wrap">
                                Please Wait...
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mail_list_column">
                    <a href="javascript:void(0);" class="user-wrap" ng-click="onEditPressed(item.SipUsername)"
                       ng-repeat="item in sipUsrList | filter : item.Enabled : true | filterBy: ['SipUsername', 'Extension.Extension']: searchCriteria">
                        <div class="mail_list user-list">
                            <div class="right">
                                <h3 class="font-robot ">{{item.SipUsername}}
                                    <small>Extension : {{item.Extension.Extension}}</small>
                                </h3>
                                <p> {{item.EmailAddress}}</p>
                            </div>
                            <div class="left">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-7 col-xs-12" style="padding-left: 0px;">
        <!-- user view mode -->
        <div ng-show="viewDivState==0" class="user-details-view">
            <div class="col-xs-12 invoice-header user-view-header">
                <h1 class="font-robot text-uppercase">
                    {{basicConfig.SipUsername}}
                    <small class="pull-right public-user m-l-10 ">
                        <i class="fa fa-globe"></i>
                        public
                    </small>
                    <small class="pull-right edit-user m-l-10"
                           ng-click="viewBtnClick(1)">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </small>
                    <small class="pull-right new-user"
                           ng-click="viewBtnClick(2)">
                        <i class="fa fa-user"></i>
                        New
                    </small>
                </h1>
            </div>
            <div class="user-config-details">
                <div class="col-lg-12">
                    <div class="animated fadeIn col-md-8">
                        <h3>User name</h3>
                        <p class="text-uppercase">{{basicConfig.SipUsername}}</p>
                    </div>

                    <div class="animated fadeIn col-md-4">
                        <h3>Password</h3>
                        <p>*********</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="animated fadeIn col-md-4">
                        <h3>Email</h3>
                        <p>{{basicConfig.EmailAddress}}</p>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="col-md-6 animated fadeIn">
                        <h3>Reference Id </h3>
                        <p>{{basicConfig.CloudEndUserId}}</p>
                    </div>

                    <div class="col-lg-6 animated fadeIn">
                        <h3>PIN</h3>
                        <p>{{basicConfig.ContextId}}</p>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="user-config">
                        <p>Attendant Transfer Configuration</p>

                        <div class="col-md-3">
                            <checkbox class="btn-success check-save" ng-model="basicConfig.TransInternalEnable"
                                      ng-init="basicConfig.TransInternalEnable=false"></checkbox>
                            <label>
                                <small>Internal</small>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <checkbox class="btn-success check-save" ng-model="basicConfig.TransExternalEnable"
                                      ng-init="basicConfig.TransExternalEnable=false"></checkbox>
                            <label>
                                <small>Externa</small>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <checkbox class="btn-success check-save" ng-model="basicConfig.TransConferenceEnable"
                                      ng-init="basicConfig.TransExternalEnable=false"></checkbox>
                            <label>
                                <small>Conference</small>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <checkbox class="btn-success check-save" ng-model="basicConfig.TransGroupEnable"
                                      ng-init="basicConfig.TransExternalEnable=false"></checkbox>
                            <label>
                                <small>Group</small>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="animated fadeIn col-md-4">
                        <h3>Domain</h3>
                        <p>{{basicConfig.CloudEndUserId}}</p>
                    </div>
                    <div class="animated fadeIn col-md-4">
                        <h3>Context</h3>
                        <p>{{basicConfig.ContextId}}</p>
                    </div>
                </div>


            </div>
        </div>

        <!-- user edit view -->
        <div ng-show="viewDivState==1" class="user-details-view">
            <form name="sipUserConfForm">
                <div class="col-xs-12 invoice-header user-view-header">
                    <h1 class="font-robot text-uppercase">
                        {{basicConfig.SipUsername}}
                        <small class="pull-right new-user"
                               ng-click="viewBtnClick(0)">
                            <i class="fa fa-user"></i>
                            Cancel
                        </small>
                    </h1>
                </div>
                <div class="item form-group ">
                    <!-- sip user and password -->
                    <div class="col-lg-12">
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="sipUserName">Sip Username *</label></h3>
                            <p><input type="email" class="form-control" id="sipUserName"
                                      ng-model="basicConfig.SipUsername"
                                      ng-disabled="IsEdit"
                                      ng-model-options="{ updateOn: 'blur' }" usernamecheck
                                      placeholder="Sip Username" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.sipUsrName.$error" ng-if="sipUserConfForm.sipUsrName.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                            <div class="alert" ng-message="usernamecheck">Username already taken</div>
                        </div>
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="password">Password *</label></h3>
                            <p><input type="password" class="form-control" id="password" placeholder="password"
                                      ng-model="basicConfig.Password" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.password.$error" ng-if="sipUserConfForm.password.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <!-- email address -->
                    <div class="col-lg-12">
                        <div class="col-md-12 animated fadeIn">
                            <h3><label for="emailAddr">Email Address *</label></h3>
                            <p><input type="text" class="form-control "
                                      id="emailAddr"
                                      name="emailAddr"
                                      ng-model="basicConfig.EmailAddress" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.emailAddr.$error" ng-if="sipUserConfForm.emailAddr.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <!-- reference ID | extension | PIN -->
                    <div class="col-lg-12">
                        <div class="col-md-5 animated fadeIn">
                            <h3><label for="refID">Reference Id</label></h3>
                            <p><input type="text" class="form-control "
                                      id="refID"
                                      name="refID"
                                      ng-model="asicConfig.GuRefId" required></p>
                        </div>

                        <div class="col-md-4 animated fadeIn">
                            <h3><label for="ext">Extension *</label></h3>
                            <p><input type="text" class="form-control "
                                      id="ext"
                                      name="ext"
                                      ng-model="basicConfig.Extension"
                                      ng-model-options="{ updateOn: 'blur'}"
                                      ng-disabled="IsEdit" extcheck required>
                            <div ng-messages="sipUserConfForm.ext.$error" ng-if="sipUserConfForm.ext.$dirty">
                                <div class="alert" ng-message="required">This field is required</div>
                                <div class="alert" ng-message="extcheck">Extension number already in use</div>
                            </div>
                            </p>
                        </div>
                        <div class="col-md-3 animated fadeIn">
                            <h3><label for="pinID"> PIN</label></h3>
                            <p><input type="text" class="form-control "
                                      id="pinID"
                                      name="pinID"
                                      ng-model="basicConfig.Pin" required></p>
                        </div>
                    </div>

                    <!-- domain | context -->
                    <div class="col-lg-12">
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="refID">Domain</label></h3>
                            <p><select class="select2_single form-control " tabindex="-1"
                                       aria-hidden="true"
                                       name="domain" ng-model="basicConfig.CloudEndUserId"
                                       ng-model-options="{trackBy: '$value'}">
                                <option ng-repeat="eu in endUserList" value="{{eu.id}}">{{eu.Domain}}</option>
                            </select></p>
                        </div>

                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="refID">Context</label></h3>
                            <p><select class="select2_single form-control" tabindex="-1"
                                       aria-hidden="true"
                                       name="context" ng-model="basicConfig.ContextId"
                                       ng-model-options="{trackBy: '$value'}">
                                <option ng-repeat="ctxt in contextList" value="{{ctxt.Context}}">{{ctxt.Context}}
                                </option>
                            </select></p>
                        </div>

                        <div class="col-md"></div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="col-lg-12 animated fadeIn">
                    <p style="padding-left: 10px;">Attendant Transfer Configuration</p>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransInternalEnable"
                                  ng-init="basicConfig.TransInternalEnable=false"></checkbox>
                        <label>
                            <small>Internal</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransExternalEnable"
                                  ng-init="basicConfig.TransExternalEnable=false"></checkbox>
                        <label>
                            <small>Externa</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransConferenceEnable"
                                  ng-init="basicConfig.TransConferenceEnable=false"></checkbox>
                        <label>
                            <small>Conference</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransGroupEnable"
                                  ng-init="basicConfig.TransGroupEnable=false"></checkbox>
                        <label>
                            <small>Group</small>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="sip-user-btn-wrap text-left">
                        <button class="btn btn-primary" ng-click="onSavePressed()"
                                ng-disabled="sipUserConfForm.$invalid">
                            Save
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <!-- create new user -->
        <div ng-show="viewDivState==2" class="user-details-view">
            <form name="sipUserConfForm">
                <div class="col-xs-12 invoice-header user-view-header">
                    <h1 class="font-robot text-uppercase">
                        Create new Sip User
                        <small class="pull-right new-user"
                               ng-click="viewBtnClick(0)">
                            <i class="fa fa-user"></i>
                            Cancel
                        </small>
                    </h1>
                </div>
                <div class="item form-group ">
                    <!-- sip user and password -->
                    <div class="col-lg-12">
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="NewsipUserName">Sip Username *</label></h3>
                            <p><input type="email" class="form-control" id="NewsipUserName"
                                      ng-model="basicConfig.SipUsername"
                                      ng-disabled="IsEdit"
                                      ng-model-options="{ updateOn: 'blur' }" usernamecheck
                                      placeholder="Enter Sip Username" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.sipUsrName.$error" ng-if="sipUserConfForm.sipUsrName.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                            <div class="alert" ng-message="usernamecheck">Username already taken</div>
                        </div>
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="newPassword">Password *</label></h3>
                            <p><input type="password" class="form-control" id="newPassword"
                                      placeholder="Enter Sip Usernam"
                                      ng-model="basicConfig.Password" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.password.$error" ng-if="sipUserConfForm.password.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <!-- email address -->
                    <div class="col-lg-12">
                        <div class="col-md-12 animated fadeIn">
                            <h3><label for="newEmail">Email Address *</label></h3>
                            <p><input type="text" class="form-control "
                                      id="newEmail"
                                      name="emailAddr"
                                      placeholder="Enter email address"
                                      ng-model="basicConfig.EmailAddress" required></p>
                        </div>
                        <div ng-messages="sipUserConfForm.emailAddr.$error" ng-if="sipUserConfForm.emailAddr.$dirty">
                            <div class="alert" ng-message="required">This field is required</div>
                        </div>
                    </div>

                    <!-- reference ID | extension | PIN -->
                    <div class="col-lg-12">
                        <div class="col-md-5 animated fadeIn">
                            <h3><label for="newRefId">Reference Id</label></h3>
                            <p><input type="text" class="form-control "
                                      id="newRefId"
                                      name="refID"
                                      placeholder="Enter reference id"
                                      ng-model="asicConfig.GuRefId" required></p>
                        </div>

                        <div class="col-md-4 animated fadeIn">
                            <h3><label for="newExtensio">Extension *</label></h3>
                            <p><input type="text" class="form-control "
                                      id="newExtensio"
                                      name="ext"
                                      ng-model="basicConfig.Extension"
                                      placeholder="Extension"
                                      ng-model-options="{ updateOn: 'blur'}"
                                      ng-disabled="IsEdit" extcheck required>
                            <div ng-messages="sipUserConfForm.ext.$error" ng-if="sipUserConfForm.ext.$dirty">
                                <div class="alert" ng-message="required">This field is required</div>
                                <div class="alert" ng-message="extcheck">Extension number already in use</div>
                            </div>
                            </p>
                        </div>
                        <div class="col-md-3 animated fadeIn">
                            <h3><label for="newPinId"> PIN</label></h3>
                            <p><input type="text" class="form-control "
                                      id="newPinId"
                                      name="pinID"
                                      placeholder="PIN"
                                      ng-model="basicConfig.Pin" required></p>
                        </div>
                    </div>

                    <!-- domain | context -->
                    <div class="col-lg-12">
                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="newDomain">Domain</label></h3>
                            <p><select class="select2_single form-control " tabindex="-1"
                                       aria-hidden="true"
                                       id="newDomain"
                                       placeholder="Domain name"
                                       name="domain" ng-model="basicConfig.CloudEndUserId"
                                       ng-model-options="{trackBy: '$value'}">
                                <option ng-repeat="eu in endUserList" value="{{eu.id}}">{{eu.Domain}}</option>
                            </select></p>
                        </div>

                        <div class="col-md-6 animated fadeIn">
                            <h3><label for="newContext">Context</label></h3>
                            <p><select class="select2_single form-control" tabindex="-1"
                                       aria-hidden="true"
                                       id="newContext"
                                       name="context" ng-model="basicConfig.ContextId"
                                       ng-model-options="{trackBy: '$value'}">
                                <option ng-repeat="ctxt in contextList" value="{{ctxt.Context}}">{{ctxt.Context}}
                                </option>
                            </select></p>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
                <div class="col-lg-12 animated fadeIn">
                    <p style="padding-left: 10px;">Attendant Transfer Configuration</p>
                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransInternalEnable"
                                  ng-init="basicConfig.TransInternalEnable=false"></checkbox>
                        <label>
                            <small>Internal</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransExternalEnable"
                                  ng-init="basicConfig.TransExternalEnable=false"></checkbox>
                        <label>
                            <small>Externa</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransConferenceEnable"
                                  ng-init="basicConfig.TransConferenceEnable=false"></checkbox>
                        <label>
                            <small>Conference</small>
                        </label>
                    </div>

                    <div class="col-md-3">
                        <checkbox class="btn-success" ng-model="basicConfig.TransGroupEnable"
                                  ng-init="basicConfig.TransGroupEnable=false"></checkbox>
                        <label>
                            <small>Group</small>
                        </label>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="sip-user-btn-wrap text-left">
                        <button class="btn btn-primary" ng-click="onSavePressed()"
                                ng-disabled="sipUserConfForm.$invalid">
                            Save
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
</div>


</div>

