
<div class="row" ng-show="showModal">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">


            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left input_mask">

                    <!--<div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="txt_desc" ng-model="operation.name">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Field</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="txt_desc" ng-model="operation.field">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Value</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" placeholder="" name="txt_desc" ng-model="operation.value">
                        </div>
                    </div>-->


                    <div class="x_panel bg-light-gray ">
                        <div class="x_title border-0">
                            <h2 class="font-robot font-300 text-uppercase font-15">Add new Trigger Action</h2>

                            <div class="col-xs-12">
                                <div class="tile-stats m-top15">
                                    <form class="form-horizontal form-label-left input_mask">
                                        <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                            <select class="form-control has-feedback-left" placeholder="Select Operation"
                                                    ng-model="operation.name" ng-change="OnChangeTriggerOperation()">
                                                <option value="" disabled selected>Select Operation</option>
                                                <!--<option value="AddInteraction"> Add Interaction </option>-->
                                                <option value="SendMessage"> Send Message </option>
                                                <option value="PickAgent"> Assign To ARDS User </option>
                                                <option value="SendEmail"> Send Email </option>
                                                <option value="SendNotification"> Send Notification </option>
                                                <option value="InvokeService"> Invoke Service </option>
                                            </select>
                                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div><dynamic-operation operation-name="operation.name" render-templates="templates" ards-attributes="attributes" ng-model="operation"></dynamic-operation></div>

                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-primary" ng-click="closeModal()">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-click="addOperation()">Save</button>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>