body {
    overflow-x: hidden;
}

/*#font*/
.font-robot {
    font-family: 'Roboto', sans-serif !important;
}

.font-100 {
    font-weight: 100 !important;
}

.font-300 {
    font-weight: 300 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-400 {
    font-weight: 500 !important;
}

.font-700 {
    font-weight: 700 !important;
}

.font-900 {
    font-weight: 900 !important;
}

a {
    font-family: 'Roboto', sans-serif;
}

.side-menu {
    font-size: 14px;
    text-transform: uppercase;
}

.font-gry-500 > span {
    color: #615f5f !important;
}

.nav_menu {
    background: #fbfbfb;
    border-bottom: 0px solid #D9DEE4;
    height: 61px;
}

.main_menu_side {
    padding-left: 10px;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: 5px solid #949494;
}

.nav-md .container.body .right_col {
    padding-bottom: 10px;
}

.real-time-chart {
    height: 180px !important;
}

.p-0 {
    padding: 0;
}

/*background color*/
.bg-red50 {
    background-color: #ef737a;
    border: 1px solid #ef737a !important;
    color: #fff;
}

.bg-green100 {
    background-color: #2ba89c;
    border: 1px solid #2ba89c !important;
    color: #fff;
}

.bg-orange200 {
    background-color: #d06e4f;
    border: 1px solid #d06e4f !important;
    color: #fff;
}

.bg-yellow300 {
    background-color: #f8b01d;
    border: 1px solid #f8b01d !important;
    color: #fff;
}

.bg-blue700 {
    background-color: #114858;
    border: 1px solid #114858 !important;
    color: #fff;
}

.bg-blue500 {
    background-color: #365267;
    border: 1px solid #365267 !important;
    color: #fff;
}

.bg-gray200 > .count,
.bg-gray300 > .count,
.bg-gray100 > .count,
.bg-gray50 > .count {
    color: #fff;
}

.nav.side-menu > li > a > i {
    color: #fff;
}

.nav.side-menu > li.active > a {
    text-shadow: none !important;
    background: none !important;
    background: none !important;
    background: none !important;
    background: none !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff;
}

.main-dashboard-wrap {
    overflow: hidden;
}

.m-top45 {
    margin-top: 45px;
}

.font-gray800 {
    color: #685660 !important;
}

.font-yellow800 {
    color: #f2b146 !important;
}

.font-yellow900 {
    color: #f8b01d !important;
}

.font-orange800 {
    color: #db4114 !important;
}

.font-black500 {
    color: #38373a !important;
}

.font-blue500 {
    color: #365267 !important;
}

.font-green-light500 {
    color: #2ba89c !important;
}

/*#padding*/
.p-bottom-10 {
    padding-bottom: 10px;
}

.p-top-10 {
    padding-top: 10px;
}

/*#margin */
.m-top15 {
    margin-top: 15px;
}

.m-top20 {
    margin-top: 20px;
}

.m-bottom20 {
    margin-bottom: 20px;
}

.small-chat-header {

}

.veery-tbl-clmn-hdr > th.lstCol {
    text-align: right;
    padding-right: 15px;

}

.veery-tbl-clmn-hdr > th.selectedTpcs {
    text-align: justify;

}

.veery-tbl-body > td.lstCol {
    text-align: right;
    padding-right: 15px;
}

.media .profile_thumb {
    border: 2px solid;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 6px 8px;
}

.reserved > .media-body > p > small {
    border-color: #db4114 !important;
    color: #f8b01d !important;
}

.reserved > a {
    background: #f8b01d;
    border-color: #38373a !important;
}

.reserved > a > i {
    color: #38373a !important;
}

.available > .media-body > p > small {
    border-color: #2ba89c !important;
    color: #2ba89c !important;
}

.available > a {
    background: #2ba89c;
    border-color: #f8b01d !important;
}

.available > a > i {
    color: #f8b01d !important;
}

.connected > .media-body > p > small {
    border-color: #114858 !important;
    color: #114858 !important;
}

.connected > a {
    background: #114858;
    border-color: #db4114 !important;
}

.connected > a > i {
    color: #db4114 !important;
}

.break > a {
    background: #db4114;
    border-color: #114858 !important;
}

.break > a > i {
    color: #114858 !important;
}

.break > .media-body > p > small {
    color: #db4114 !important;
}

.connected > .media-body > p > small,
.available > .media-body > p > small,
.break > .media-body > p > small,
.reserved > .media-body > p > small {
    font-family: 'Roboto', sans-serif;
    font-weight: bold !important;
}

.veery-tbl-body > td.valAlgn {
    text-align: justify;
    font-size: medium;

}

/*realtime queued */
.queued-pie-chart {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

#pie-text {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    margin: 70px auto;
    width: 100%;

}

.queued-footer-list > li {
    padding-right: 50px;
    padding-left: 5px;
}


