<div ng-controller="questionPaperCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12 x_content x_panel">
        <br>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <h3>QA Form Designer</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="col-md-5 col-sm-5 col-xs-5">
                <button class="btn btn-info" ng-disabled="showPaper" ng-click="showModalSection()">New Section</button>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                <button class="btn btn-success" ng-disabled="showPaper" ng-click="showModalPaper()">New Question Paper</button>
            </div>
        </div>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 x_panel" ng-if="!showPaper">
        <br>
        <div class="x_panel">
            <div class="x_content col-md-12 col-sm-12 col-xs-12">
                <ul>
                    <div class="mail_list_column sip-user-wrap"
                         ng-mouseover="viewScroll()"
                         ng-mouseleave="hideScroll()"
                         ng-slimscroll
                         height="670" width="100%" opacity="0.2" distance="0px"
                         enabled="{{ scrollEnabled }}">
                        <div class="col-md-6 col-sm-6 col-xs-6">

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group top_search">
                            <div class="input-group">
                                <input type="text" ng-model="searchCriteria" class="form-control"
                                       placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="user-wrap hover-none"
                           ng-repeat="paper in papers | filterBy: ['name']: searchCriteria">
                            <div class="mail_list user-list">
                                <div class="right user-option-wrap">
                                    <h3 class="font-robot sub-header">
                                        {{paper.name}}
                                        <small class="fa fa-pencil" ng-click="paperEditMode(paper)"></small>
                                    </h3>

                                    <p class="font-robot">
                                        Availability : {{paper.active}}
                                    </p>
                                </div>
                                <div class="left">
                                </div>
                            </div>


                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 x_panel" style="border: 1px solid #ccc!important; border-radius: 5px" ng-if="showPaper">
        <br>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-11 col-sm-11 col-xs-11">
                <h3 style="text-decoration: none; border-bottom: 3px solid #00a3a9; display: inline-block;">Question Paper - {{currentPaper.name}}</h3>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-success" ng-click="backToListView()">Back</button>
            </div>

        </div>


        <div class="clearfix"></div>
        <br><br>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <select class="form-control"
                        ng-model="sectionToAdd" ng-options="section as section.name for section in sections">
                </select>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2" ng-disabled="!sectionToAdd">
                <button class="btn btn-success" ng-click="addSectionToPaper(sectionToAdd)">Add Section</button>
            </div>

        </div>

        <br><br>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 style="text-decoration: none; border-bottom: 3px solid #00a3a9; display: inline-block;">Sections</h4>
        </div>
        <br><br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <uib-accordion>
                <div uib-accordion-group class="panel-default"
                     ng-repeat="(id, obj) in currentPaper.questionsBySection">
                    <uib-accordion-heading>
                        {{obj.SectionName}}<i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': false}"></i>
                    </uib-accordion-heading>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-sm-10 col-xs-10"></div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button class="btn btn-success" ng-click="showModalQuestion(id)">New Question</button>
                        </div>

                        <div ng-repeat="question in obj.Questions">
                            <div class="col-md-12 col-sm-12 col-xs-12"
                                 style="border: 1px solid #ccc!important;padding: 15px;border-radius: 2px;
                                             font-size: 15px;margin-bottom: 10px;">
                                <div class="col-md-11 col-sm-11 col-xs-11">{{question.question}}</div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <small class="fa fa-trash" ng-click="deleteQuestion(question._id)"></small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>


        <div class="clearfix"></div>

    </div>


</div>