<div class="block">
    <div class="tags">
        <a class="tag">
            <span>{{attribute.AttributeId}}</span>
        </a>
    </div>
    <div class="block_content">
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col ">
                <address class="title">
                    <a class="font-robot font-15 text-uppercase" style="color: #d2d1d1;"><b>Attribute Name :</b> {{attribute.Attribute}}</a>
                    <br>
                    <br>Last Update : {{attribute.createdAt|date:'MM/dd/yyyy @ h:mma'}}
                    <br>Other Details : {{attribute.OtherData}}
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 invoice-col">
                <div class="pull-left attribute-edit-wrap">
                    <a ng-disabled="true" class="inline-block" ng-click="deleteAttribute(attribute)"
                       style="cursor: pointer"><i
                            class="fa fa-trash-o"></i></a>
                    <br>
                    <a ng-disabled="true" class="inline-block" ng-click="editAttribute()" style="cursor: pointer"><i
                            class="fa fa-edit"></i></a>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-12" ng-show="editMode">
                <div class="tile-stats">
                    <form class="form-horizontal form-label-left input_mask">
                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="attribute.Attribute" id="AttributeId" placeholder="Attribute">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="attribute.OtherData"style=""  id="OtherData" placeholder="Other">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <button type="button" class="btn btn-success btn-xs " ng-click="updateAttributes(attribute)">Update</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
