<div class="col-xs-12">
    <div class="tile-stats">
        <form class="form-horizontal form-label-left input_mask">
            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" ng-model="attribute.Attribute" id="AttributeId" placeholder="Attribute">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" ng-model="attribute.OtherData"style=""  id="OtherData" placeholder="Other">
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
            </div>

            <button type="button" class="btn btn-success btn-xs " ng-click="updateAttributes(attribute)">Update</button>
        </form>
    </div>
</div>