<!--Additional Data-->
<div class="col-md-12 col-sm-6 col-xs-12" ng-show="showAdditionalDataPanel">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2><i class="ti-package">
                    <small>Additional Data</small>
                </i>

                </h2>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <!--<div ng-show="isLoadingData" >
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="data-state-wrap">
                            Please Wait...
                        </div>

                    </div>
                </div>
            </div>-->

            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="isLoadingData">
                    <div class="data-state-wrap">
                        Please Wait...
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="isLoadingData">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-show="(campaign.CampaignChannel === 'CALL' )">
                        <tags-input ng-model="campaignAttributes" display-property="Name"
                                    add-from-autocomplete-only="true" on-tag-added="onChipAdd($tag)"
                                    on-tag-removed="onChipDelete($tag)" ng-disabled="" min-length="1"
                                    placeholder="Add a Campaign Attributes">
                            <auto-complete source="querySearch($query)"
                                           load-on-empty="true"
                                           load-on-focus="true"
                                           min-length="1"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group"
                         ng-show="(campaign.CampaignChannel === 'SMS' || campaign.CampaignChannel === 'EMAIL')">

                        <div class="col-md-7 col-sm-7 col-xs-7 form-group"
                             ng-class="{ 'has-error' : campaingForm.FileName.$invalid && !campaingForm.FileName.$pristine }">

                            <input type="text" class="form-control has-feedback-left"
                                   ng-model="campaign.AdditionalData.FileName"
                                   placeholder="File Name with Extension" required>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>

                            <p ng-show="campaingForm.FileName.$invalid && !campaingForm.FileName.$pristine"
                               class="help-block">File name is required.</p>
                        </div>

                        <!--<div class="col-md-4 col-sm-4 col-xs-4 form-group"
                             ng-class="{ 'has-error' : campaingForm.FileExtensions.$invalid && !campaingForm.FileExtensions.$pristine }">
                            <select class="form-control has-feedback-left"  id="Extensions" ng-model="campaign.AdditionalData.FileExtensions"
                                    ng-options="opt as opt for opt in extensions track by opt"  required>
                                <option disabled value=''>FileExtensions</option>
                            </select>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>

                            <p ng-show="campaingForm.FileExtensions.$invalid && !campaingForm.FileExtensions.$pristine" class="help-block">
                                File Extensions is required.</p>
                        </div>-->

                        <div class="col-md-3 col-sm-3 col-xs-3 form-group"
                             ng-class="{ 'has-error' : campaingForm.Templates.$invalid && !campaingForm.Templates.$pristine }">
                            <select class="form-control has-feedback-left" id="Templates"
                                    ng-model="campaign.AdditionalData.Template"
                                    ng-options="opt.name as opt.name for opt in Templates track by opt._id" required>
                                <option disabled value=''>Templates</option>
                            </select>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>

                            <p ng-show="campaingForm.Templates.$invalid && !campaingForm.Templates.$pristine"
                               class="help-block">
                                Templates is required.</p>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-2 form-group has-feedback">
                            <button ng-if="!isLoading" type="button" class="btn btn-success btn-xs "
                                    ng-click="createCampaignAdditionalData(campaign.AdditionalData)">
                                Add
                            </button>

                            <button ng-if="isLoading" disabled type="button" class="btn btn-success btn-xs "
                                    ng-click="createCampaignAdditionalData(campaign.AdditionalData)">
                                PLEASE WAIT...
                            </button>


                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 form-group"
                             ng-class="{ 'has-error' : campaingForm.Templates.$invalid && !campaingForm.Templates.$pristine }">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">File Name</th>
                                    <th class="column-title">File Type</th>
                                    <th class="column-title no-link last"><span class="nobr">Action</span>
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-class-odd="'even pointer'" ng-class-even="'odd pointer'"
                                    ng-repeat="tempData in campaignAdditionalData">
                                    <td class=" ">{{tempData.AdditionalData}}</td>
                                    <td class=" " >{{tempData.Category}}</td>
                                    <td class=" last cursor-pointer"><a ng-click="DeleteAdditionalDataByID(tempData.AdditionalDataId);">Delete</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

</div>