<div id="login-bg" class="logi animated fadeIn " ng-controller="loginCtrl">
    <img src="asset/images/bg_10444x1000.jpg" id="bg" alt="">
    <div>
        <div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">
                    <div class="login-header">
                        <img src="images/logo_130x130yellow.png" width="120" height="120"/>
                    </div>
                    <form name="loginFrm">
                        <h1 class="font-robot font-300">Login </h1>
                        <div class="validation-area">

                            <label class="inline-block dark-frm-label">User name
                                <span class="inline-block validation-on  "
                                      ng-show="loginFrm.userName.$invalid && !loginFrm.userName.$pristine">
                             *
                            </span> </label>
                            <input type="text" name="userName" ng-model="userName"
                                   class="form-control login-controller dark-frm-input "
                                   required/>
                        </div>
                        <div class="validation-area">
                            <div>
                                <label class="inline-block dark-frm-label">Password
                                <span class="inline-block validation-on"
                                      ng-show="loginFrm.password.$invalid && !loginFrm.password.$pristine">
                            *
                            </span> </label>
                                <input type="password" ng-model="password" name="password"
                                       class="form-control dark-frm-input"
                                       required/>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-default submit  pull-left" href="javascript:void(0);"
                                    ng-disabled="loginFrm.$invalid"
                                    ng-class="isLogin==true ?'disabled-btn':'dark-frm-btn'"
                                    ng-click="onClickLogin()" ng-disabled="isLogin">Log in
                                <i ng-if="isLogin" class="fa fa-spinner fa-pulse fa-3x fa-fw form-data-loading"></i>
                            </button>



                            <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
                            <button ng-click="authenticate('google')">Sign in with Google</button>
                            <button ng-click="authenticate('github')">Sign in with GitHub</button>

                            <!--
                            <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
                            <button ng-click="authenticate('instagram')">Sign in with Instagram</button>
                            <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
                            <button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
                            <button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
                            <button ng-click="authenticate('live')">Sign in with Windows Live</button>
                            <button ng-click="authenticate('twitch')">Sign in with Twitch</button>
                            <button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>
                            <button ng-click="authenticate('spotify')">Sign in with Spotify</button>-->

                            <!-- loading -->
                            <a class="reset_pass pull-right dark-reset-text" href="javascript:void(0);">Lost your
                                password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="dark-separator">
                            <p class="change_link">
                                <a href="javascript:void(0);" ng-click="onClickSignUp()"
                                   class="to_register to_register_dark"> New here? Create an
                                    account </a>
                            </p>
                            <div class="clearfix"></div>
                            <br/>
                            <div>
                                <p class="font-robot font-300 font-green-light500">
                                    ©2016 All Rights Reserved <br/> veery.cloud Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

