<div class="x_content pricing_wrapper" ng-controller="pricingCtrl">
    <img src="asset/images/bg_10444x10003.jpg" id="bg" alt="">
    <!-- price element -->

    <div>
        <div class="col-xs-12">
            <div class="row">
                <div ng-repeat="package in packages" class="col-md-4 col-sm-6 col-xs-12 price-table-wrapper animated zoomIn">
                    <div class="pricing">
                        <div class="title">
                            <h2>{{package.packageName}}</h2>
                            <h1>{{package.price}}</h1>
                            <span>Monthly</span>
                        </div>
                        <div class="x_content">

                            <div class="get-free" ng-if="package.price=='free'">
                               FREE
                            </div>
                            <div class="">
                                <div class="pricing_features">
                                    <ul class="list-unstyled text-left">
                                        <li ng-repeat="console in package.consoles "><i
                                                class="fa ti-check text-success"></i>
                                            <strong>{{console}} </strong>
                                        </li>

                                    </ul>
                                    <ul class="list-unstyled text-left">
                                        <li ng-repeat="accessLimit in package.consoleAccessLimit "><i
                                                class="fa ti-check text-success"></i>
                                            <strong>{{accessLimit.accessType}}</strong>{{accessLimit.accessLimit}}
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="pricing_footer">
                                <a href="javascript:void(0);"
                                   ng-click="onClickBuyPackages(package.packageName)"
                                   class="btn btn-success " role="button">Buy
                                    <span> now!</span></a>
                            </div>
                            <!--waiting to finalize requirements-->
                            <!--<button stripe-payment="config">New Card</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

