<div class="login animated fadeIn" ng-controller="signUpCtrl">
    <img src="asset/images/bg_10444x10002.jpg" id="bg" alt="">
    <div>
        <div class="login_wrapper signup-wrap">
            <div class="form login_form">
                <section class="login_content">
                    <div class="login-header">
                        <img src="images/logo_130x130yellow.png" width="120" height="120"/>
                    </div>
                    <form name="signUpForm">
                        <h1 class="font-robot font-300">SignUp </h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="validation-area">
                                    <!-- user name -->
                                    <label class="dark-frm-label">User name
                                        <span class="inline-block validation-on"
                                              ng-show="signUpForm.userName.$invalid && !signUpForm.userName.$pristine">*
                                    </span></label>
                                    <input type="text" name="userName" ng-model="userName"
                                           class="form-control dark-frm-input "
                                           placeholder=""
                                           required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="validation-area">
                                    <!-- phone no -->
                                    <label class="dark-frm-label">Phone no
                                        <span class="inline-block validation-on"
                                              ng-show="signUpForm.phoneNo.$invalid && !signUpForm.userName.$pristine">*
                                    </span></label>
                                    <input type="text" name="phoneNo" ng-model="phoneNo"
                                           class="form-control dark-frm-input "
                                           placeholder=""
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="validation-area">
                                    <!-- first name -->
                                    <label class="dark-frm-label">First Name
                                        <span class="inline-block validation-on"
                                              ng-show="signUpForm.firstName.$invalid && !signUpForm.firstName.$pristine">*
                                    </span></label>
                                    <input type="text" name="firstName" ng-model="firstName"
                                           class="form-control dark-frm-input "
                                           placeholder=""
                                           required/>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="validation-area">
                                    <!-- last name -->
                                    <label class="dark-frm-label">Last Name
                                         <span class="inline-block validation-on"
                                               ng-show="signUpForm.lastName.$invalid && !signUpForm.lastName.$pristine">*
                                    </span></label>
                                    <input type="text" name="lastName" ng-model="lastName"
                                           class="form-control dark-frm-input "
                                           placeholder=""
                                           required/>
                                </div>
                            </div>
                        </div>


                        <div class="validation-area">
                            <label class="dark-frm-label">Email
                                 <span class="inline-block validation-on"
                                       ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">*
                                    </span></label>
                            <input type="email" name="email" ng-model="email"
                                   class="form-control dark-frm-input "
                                   placeholder=""
                                   required/>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">

                                <div class="validation-area" >
                                    <!-- password  -->


                                    <label class="dark-frm-label">Password
                                         <span class="inline-block validation-on"
                                               ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine">*
                                    </span></label>
                                    <input type="password" ng-model="password"
                                           class="form-control dark-frm-input"
                                           name="password"
                                           id="password"
                                           placeholder=""
                                           required=""/>

                                   <ul>
                                        <li>Min length 8</li>
                                        <li>Special Character</li>
                                        <li>Digit</li>
                                        <li>Capital Letter</li>
                                    </ul>
                                    <password-strength ng-model="password"></password-strength>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="validation-area">
                                    <!-- confirm password -->
                                    <label class="dark-frm-label">Confirm password
                                         <span class="inline-block validation-on"
                                               ng-show="signUpForm.confirmPwd.$invalid && !signUpForm.confirmPwd.$pristine">*
                                    </span></label>
                                    <input type="password" password-verify="password"
                                           ng-model="confirmPwd"
                                           class="form-control dark-frm-input"
                                           name="confirmPwd"
                                           placeholder=""
                                           required/>
                                </div>
                            </div>
                        </div>

                        <div class="m-bottom20">
                            <button class="btn btn-default signUp  pull-right"
                                    ng-class="isSignUp==true ?'disabled-btn':'dark-frm-btn'"
                                    ng-click="onClickCreateAccount()"
                                    ng-disabled="signUpForm.$invalid">Create Account
                            </button>
                            <!-- loading -->
                            <a ng-if="isSignUp"><i class="fa fa-spinner fa-pulse fa-3x fa-fw form-data-loading"></i>
                            </a>
                            <a class="reset_pass pull-left to_register_dark" ng-click="onClickLogIn()"
                               href="javascript:void(0);">Already a user? Login</a>
                        </div>


                        <div class="m-bottom20">

                        </div>

                        <div class="clearfix"></div>

                        <div class="dark-separator">
                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <p class="font-robot font-300 font-green-light500">
                                    ©2016 All Rights Reserved <br/> veery.cloud Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

