<div class="logi animated flipInY" ng-controller="loginCtrl">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <div class="login-header">
                        <img src="images/logo150x150.png" width="120" height="120"/>
                    </div>
                    <form>
                        <h1 class="font-robot font-300">Login Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required=""/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required=""/>
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="javascript:void(0)"
                               ng-click="login()">Log in</a>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">New to site?
                                <a href="javascript:void(0);" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>

                            <div>
                                <p class="font-robot  font-300 font-green-light500">
                                    ©2016 All Rights Reserved | veery.cloud Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

