<div class="container body" ng-controller="mainCtrl">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title">
                        <img src="images/console_logo.png" width="45px" height="45px">
                        <span class="font-robot font-700 font-green-light500">
                         <small class="font-black500">veery</small>
                             ADMIN
                        </span>
                    </a>
                </div>
                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <!--<div class="profile">-->
                <!--<div class="profile_pic">-->
                <!--<img src="asset/images/img.jpg" alt="..." class="img-circle profile_img">-->
                <!--</div>-->
                <!--<div class="profile_info">-->
                <!--<span>Welcome,</span>-->
                <!--<h2>John Doe</h2>-->
                <!--</div>-->
                <!--</div>-->
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->


                <div id="sidebar-menu" menu-collapse class="main_menu_side hidden-print main_menu">
                    <div class="menu_section active">
                        <h3 class="font-gry-200">General</h3>
                        <ul class="nav side-menu" style="">
                            <li class="" ng-show="accessNavigation.DASHBOARD"><a ng-click="clickDirective.goDashboard()"
                                                                                 class="font-robot font-300">
                                <i class="fa fa-home"></i> Home </a>
                            </li>
                            <li ng-show="accessNavigation.AGENT_PRODUCTIVITY || accessNavigation.CALL_MONITOR"><a
                                    class="font-robot font-300 "><i class="fa fa-edit"></i> Real Time
                                <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.AGENT_PRODUCTIVITY"><a
                                            ng-click="clickDirective.goProductivity()">Agent Productivity </a></li>
                                    <li ng-show="accessNavigation.CALL_MONITOR"><a href="javascript:void(0)"
                                                                                   ng-click="clickDirective.goCallMonitor()">Call
                                        Monitor</a></li>
                                    <li ng-show="accessNavigation.DASHBOARD"><a
                                            ng-click="clickDirective.goRealTimeQueued()">Queued</a></li>
                                </ul>
                            </li>
                            <li ng-show="accessNavigation.FILE_GALLERY || accessNavigation.FILE_UPLOAD || accessNavigation.HOLD_MUSIC || accessNavigation.LimitHandler">
                                <a class="font-robot font-300 "><i class="fa fa-desktop"></i> Utility <span
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.FILE_GALLERY"><a href="javascript:void(0);"
                                                                                   ng-click="clickDirective.goFilegallery()">File
                                        Gallery </a></li>
                                    <li ng-show="accessNavigation.FILE_UPLOAD"><a href="javascript:void(0);"
                                                                                  ng-click="clickDirective.goFileupload()">File
                                        Upload</a></li>


                                    <li ng-show="accessNavigation.HOLD_MUSIC"><a href="javascript:void(0);"
                                                                                 ng-click="clickDirective.goHoldMusic()">Hold
                                        Music</a></li>
                                    <li ng-show="accessNavigation.LimitHandler"><a href="javascript:void(0);"
                                                                                   ng-click="clickDirective.goLimits()">Limits</a>
                                    </li>
                                </ul>
                            </li>

                            <li ng-show="accessNavigation.RING_GROUP_CONFIGURATION || accessNavigation.SIPUSER_CONFIGURATION || accessNavigation.USERS">
                                <a class="font-robot font-300 "><i class="fa fa-desktop"></i> User <span
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.USERS"><a href="javascript:void(0);"
                                                                            ng-click="clickDirective.goUsers()">Users</a>
                                    </li>
                                    <li ng-show="accessNavigation.SIPUSER_CONFIGURATION"><a href="javascript:void(0);"
                                                                                            ng-click="clickDirective.goSipUser()">SIP
                                        User</a>
                                    </li>
                                    <li ng-show="accessNavigation.RING_GROUP_CONFIGURATION"><a
                                            href="javascript:void(0);" ng-click="clickDirective.goRingGroup()">Ring
                                        Group</a></li>
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goAgentStatus()">Agent
                                        Status</a></li>
                                </ul>
                            </li>
                            <li ng-show="accessNavigation.CDR || accessNavigation.APPLICATIONS || accessNavigation.RULES">
                                <a class="font-robot font-300 "><i class="fa fa-desktop"></i> Call Rules <span
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goMyNumbers()">My
                                        Numbers</a></li>
                                    <li ng-show="accessNavigation.APPLICATIONS"><a href="javascript:void(0);"
                                                                                   ng-click="clickDirective.goApplications()">Applications</a>
                                    </li>
                                    <li ng-show="accessNavigation.RULES"><a href="javascript:void(0);"
                                                                            ng-click="clickDirective.goRule()">Rules</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-show="accessNavigation.ATTRIBUTES || accessNavigation.RESOURCES "><a
                                    class="font-robot font-300 "><i class="fa fa-desktop"></i> Request Router <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.ATTRIBUTES"><a href="javascript:void(0);"
                                                                                 ng-click="clickDirective.goAttributeList()">Attributes </a>
                                    </li>
                                    <li ng-show="accessNavigation.RESOURCES"><a href="javascript:void(0);"
                                                                                ng-click="clickDirective.goResourceList()">Resources</a>
                                    </li>
                                    <li ng-show="accessNavigation.RESOURCES"><a href="javascript:void(0);"
                                                                                ng-click="clickDirective.goAgentStatus()">Agent
                                        Status</a></li>

                                    <li ng-show="accessNavigation.ARDS_CONFIGURATION"><a href="javascript:void(0);"
                                                                                         ng-click="clickDirective.goArdsConfig()">Router
                                        Configuration</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3 class="font-gry-200">Other</h3>
                        <ul class="nav side-menu">
                            <li ng-show="accessNavigation.CDR"><a class="font-robot font-300 "><i class="fa fa-bug"></i>
                                Report <span
                                        class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goCdrReport()">CDR</a>
                                    </li>
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goAbandonCallList()">Abandon
                                        Call Report</a>
                                    </li>
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goQueueSummary()">Queue
                                        Summary</a>
                                    </li>
                                    <li ng-show="accessNavigation.CDR"><a href="javascript:void(0);"
                                                                          ng-click="clickDirective.goAgentSummary()">Agent
                                        productivity Summary</a>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle ">
                        <a id="menu_toggle" nav-toggle><i class="fa fa-bars font-gry-150"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/console_logo.png" alt="">Hi {{userName}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li ng-click="clickDirective.goLogout()"><a href="#"><i
                                        class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="badge bg-green">6</span>-->
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height: 1647px;">
            <ul ui-view>
            </ul>
        </div>
    </div>
</div>
