<div ng-controller="appAccessManageController as vm">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <button ng-click="selectUser(user)" type="button" class="btn btn-round btn-primary"
                    ng-repeat="user in userList">{{user.username}}
            </button>
        </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Application Access Manager
                    <small>owner Name</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="close-link"><i class="fa fa-spinner"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                    <div class="animated rotateInDownLeft col-md-12 col-sm-6 col-xs-12 form-group has-feedback">

                        <div  class="thumbnaildrag" data-drop="true" ng-model='assignedNavigations'
                             data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=assignedNavigations])'}"
                             jqyoui-droppable="{multiple:false,onDrop: 'assignNavigation'}">
                            <div class="caption">
                                <div ng-dblclick="showEditView(item)" ng-click="setCurrentDrag(item)" class="btn btn-round btn-warning btn-draggable"
                                     ng-repeat="item in assignedNavigations" ng-show="item.consoleName"
                                     data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="assignedNavigations"
                                     jqyoui-draggable="{index: {{$index}},animate:true}">
                                    {{item.consoleName}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="thumbnaildrag" data-drop="true" ng-model='assignableNavigations'
                             data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=assignableNavigations])'}"
                             jqyoui-droppable="{multiple:false,onDrop: 'removeNavigation'}">
                            <div class="caption">
                                <div ng-click="setCurrentDrag(item)" class="btn btn-round btn-primary btn-draggable"
                                     ng-repeat="item in assignableNavigations" ng-show="item.consoleName"
                                     data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="assignableNavigations"
                                     jqyoui-draggable="{index: {{$index}},animate:true}">
                                    {{item.consoleName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="showEditWindow">
        <div class="x_panel">
            <h2>Console
                <small>{{DragObject.consoleName}}</small>
            </h2>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="container">
                        <div class="row">
                            <navigationtree navigation="item" ng-repeat="item in selectedConsole.consoleNavigation"></navigationtree>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
