<div ng-controller="appAccessManageController as vm">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <button ng-click="loadUserData(user)" type="button" class="btn btn-round btn-primary"
                    ng-repeat="user in userList">{{user.username}}
            </button>
        </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Application Access Manager
                    <small>owner Name</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="close-link"><i class="fa fa-spinner"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                    <div class="animated rotateInDownRight col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                        <div class="thumbnaildrag" data-drop="true" ng-model='deletedTask'
                             data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=availableTask])'}"
                             jqyoui-droppable="{multiple:false}">
                            <div class="caption">
                                <div class="btn btn-warning btn-draggable" ng-repeat="item in deletedTask"
                                     ng-show="item.ResTaskInfo.TaskName"
                                     data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="deletedTask" jqyoui-draggable="{index: {{$index}},animate:true}">
                                    {{item.ResTaskInfo.TaskName}}
                                </div>
                                <small>Drop to Delete</small>
                            </div>

                        </div>
                    </div>

                    <div class="animated rotateInUpLeft col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                        <div class="thumbnaildrag" data-drop="false" ng-model='availableTask'
                             data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=deletedTask])'}"
                             jqyoui-droppable="{multiple:false}">
                            <div class="caption">
                                <div ng-click="setCurrentDrag(item,'available')" class="btn btn-info btn-draggable"
                                     ng-repeat="item in availableTask" ng-show="item.ResTaskInfo.TaskName"
                                     data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="availableTask"
                                     jqyoui-draggable="{index: {{$index}},animate:true,beforeDrop: 'assignTask'}">
                                    {{item.ResTaskInfo.TaskName}}
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <h2>Console
                <small>{{consoleAppList.consoleName}}</small>
            </h2>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <!--<button class="btn btn-default" ng-click="vm.expandAll(vm.data)">Expand All</button>-->
                                <tree branch="vm.data"></tree>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
