<div ng-disabled="editing">
    <div class="row" >
        <div class="col-md-3 col-lg-3 col-xs-6">
            <div class="group-img">
                <img src="assets/images/group.png">
            </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-6">
            <ul class="group-inline-des">
                <li class="pull-left">
                    <div class="group-desc">
                        <h5>
                            {{group.name}}
                        </h5>
                    </div>
                </li>
                <li class="pull-right">
                    <div class="group-config">
                        <i class="fa fa-cog fa-lg" ng-click="showBUnits()"></i>
                    </div>
                </li>
                <li class="pull-right"
                    ng-show="group.name == selectedGroup.name">
                    <div class="selected-group">
                        <i class="ti-check"></i>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="row bisunit-item" ng-show="showUnits" >

        <div class="row" style="margin-left: 10px">
            <h5>Business Unit</h5>
            <div class="col-md-8 col-sm-8 col-xs-12 form-group">

                <select class="select2_single form-control" tabindex="-1"
                        aria-hidden="true"
                        id="unit"
                        name="unit" ng-model="group.businessUnit"
                        ng-model-options="{trackBy: '$value'}">
                    <option ng-repeat="unit in units" value="{{unit.unitName}}">{{unit.unitName}}
                    </option>
                </select>

            </div>
            <div class="col-md-1 col-sm-1 col-xs-12 form-group">
                <i class="fa fa-close fa-lg" ng-click="makeBusinessUnitEmpty()" title="Click here to remove Business Unit"></i>
            </div>
        </div>

        <div class="row" style="margin-left: 10px">
            <h5>Supervisors</h5>
            <div class="col-md-11 col-sm-11 col-xs-12 form-group has-feedback">

                <tags-input ng-model="group.supervisors" display-property="username"
                            add-from-autocomplete-only="true"  ng-disabled="" min-length="1"
                            placeholder="Add a Supervisor">
                    <auto-complete source="querySearch($query)"
                                   load-on-empty="true"
                                   load-on-focus="true"
                                   min-length="1"
                                   max-results-to-show="100"></auto-complete>
                </tags-input>

            </div>
        </div>



        <div class="row create-new pull-right" style="margin-right: 10px">
            <button class="btn btn-default "
                    ng-click="updateGroupBUnit()" ng-disabled="!group.businessUnit && (!group.supervisors || group.supervisors.length==0)">
                Update
            </button>
            <!--<button class="btn btn-default fa fa-times fa-lg"
                    ng-click="emptyBUnit()">

            </button>-->
        </div>



    </div>
</div>

