<!--<div class="x_panel fixed_height_210" ng-mouseenter="stopTimerFn(true)" ng-mouseleave="stopTimerFn(false);">-->
<div class="x_panel">
    <!--<div class="x_title">
        <h2><i class="fa fa-align-left"></i> Agents
            <small>Summary</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">

        </ul>
        <div class="clearfix"></div>
    </div>-->
    <h2 class="x_title_inner" ng-click="GetProductivity();">Agents <small>Summary</small></h2>
    <div class="x_content agentSummery" style="padding: 0;">

        <div ng-hide="agentSummaryGridOptions.data.length>0">
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="data-state-wrap">
                        No Data...
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="agentSummaryGridOptions.data.length>0" ui-grid="agentSummaryGridOptions" class="agentSummarygrid" ui-grid-selection ui-grid-move-columns ui-grid-resize-columns ></div>


        <div ng-if="selectedAgent" ng-include="'detailsDashBoard/view/template/agentInfo.html'"></div>

    </div>
</div>
