<!--<div class="x_panel fixed_height_200" ng-controller="AgentSummaryController">-->
<div class="x_panel " ng-controller="AgentSummaryController">
    <!--<div class="x_title">
        <h2><i class="fa fa-align-left"></i> Agents
            <small>Information's</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">

        </ul>
        <div class="clearfix"></div>
    </div>-->
    <h2>Agent- {{selectedAgent.ResourceName}}
        <small>Information's</small>
    </h2>
    <div style="border-bottom: 2px solid #F7F7F7;"></div>
    <div class="x_content">

        <div class="row">
            <!--Agent Profile-->
            <div class="col-md-3 col-sm-3 col-xs-12">

                <div class="x_panel">
                    <div class="x_content">
                        <img class="img-responsive avatar-view"
                             style='height: 100%; width: 100%; object-fit: contain'
                             src="{{selectedAgent.avatar}}">

                        <h3 style="margin-bottom: 1px;">{{selectedAgent.displayName}} </h3>

                        <ul class="list-unstyled profile-data-list">
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i> {{selectedAgent.Email}}
                            </li>

                            <li>
                                <i class="fa fa-bullhorn user-profile-icon"></i> Send Notification
                            </li>
                        </ul>
                        <!--notification penel-->
                        <div>
                            <div class="form-group">
                                <select ng-model="notificationMsg.eventlevel" ng-options="x for x in notification_levels"></select>

                                <textarea id="txtMessage"
                                          class="form-control" rows="3" ng-model="notificationMsg.Message">
                        </textarea>
                            </div>
                            <div class="btn-warp inline-btn pull-right">
                                <span class="btn btn-default " ng-click="sendNotification()">send</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--Agent Productivity-->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="x_panel x-panel-overflow ">
                    <div class="x_content productivity-panel">
                        <div id="productivityId" style="height:350px;"></div>
                    </div>
                </div>
            </div>
            <!-- Task List -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <small>Task List</small>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div ng-hide="gridTaskOptions.data.length>0">
                            <div class="data-state-wrap" ng-show="selectedAgent.slotMode==='Offline'">
                                Offline...
                            </div>
                            <div class="data-state-wrap" ng-hide="selectedAgent.slotMode==='Offline'">
                                No Data...
                            </div>
                        </div>

                        <div ng-show="gridTaskOptions.data.length>0" ui-grid="gridTaskOptions" class="qgrid"
                             ui-grid-auto-resize ui-grid-move-columns ui-grid-resize-columns></div>
                    </div>
                </div>
            </div>
            <!-- /Task List -->
            <!--Agent Activity-->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        <ul class="list-unstyled profile-data-list">
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>State : {{selectedAgent.slotState}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>Inbound Call Time : {{selectedAgent.InboundCallTime| secondsToDateTime | date:'HH:mm:ss'}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>Outbound Call Time : {{selectedAgent.OutboundCallTime| secondsToDateTime | date:'HH:mm:ss'}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>Break Time : {{selectedAgent.BreakTime| secondsToDateTime | date:'HH:mm:ss'}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>Hold Time : {{selectedAgent.HoldTime| secondsToDateTime | date:'HH:mm:ss'}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i>inbound calls : {{selectedAgent.IncomingCallCount}}
                            </li>
                            <li>
                                <i class="fa fa-bullhorn user-profile-icon"></i>  Missed Calls: {{selectedAgent.MissCallCount}}
                            </li>
                            <li>
                                <i class="fa fa-envelope user-profile-icon"></i> Outbound Calls : {{selectedAgent.OutgoingCallCount}}
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        </div>
        <div class="row">
            <!-- Agent Call Logs -->
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <small>Call Logs</small>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="data-state-wrap" ng-hide="gridCalllogsOptions.data.length>0">
                            No Data...
                        </div>
                        <div ng-show="gridCalllogsOptions.data.length>0" ui-grid="gridCalllogsOptions" class="qgrid"
                             ui-grid-move-columns ui-grid-resize-columns></div>

                    </div>
                </div>
            </div>
            <!-- /Agent Call Logs -->
            <!-- Agent Logs -->
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <small>State History</small>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="data-state-wrap" ng-hide="gridAgentLogsOptions.data.length>0">
                            No Data...
                        </div>

                        <div ng-show="gridAgentLogsOptions.data.length>0" ui-grid="gridAgentLogsOptions" class="qgrid"
                             ui-grid-auto-resize ui-grid-move-columns ui-grid-resize-columns></div>
                    </div>
                </div>
            </div>
            <!-- /Agent Logs -->

        </div>

    </div>
</div>