<!--<div class="x_panel fixed_height_200" ng-controller="AgentSummaryController">-->
<div class="x_panel " ng-controller="AgentSummaryController">
    <div class="x_title">
        <h2><i class="fa fa-align-left"></i> Agents
            <small>Information's</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">

        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="row">
            <!-- Task List -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <small>Task List</small>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="task-wrap" >
                            <table id="datatable-tasklist" class="table table-striped task-tbl">
                                <thead>
                                <tr>
                                    <th class="fs15 text-left">Task Type</th>
                                    <th class="fs15 text-right">Skill</th>
                                    <th class="fs15 text-right">Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="task in selectedAgent.taskList">
                                    <td class="text-left">{{task.taskType}}</td>
                                    <td class="fs15 fw700 text-right"> {{task.skill}}</td>
                                    <td class="fs15 fw700 text-right">{{task.percentage}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Task List -->

            <!-- Agent Logs -->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <small>Agent Logs</small>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="task-wrap" >
                            <table id="datatable-agentlogs" class="table table-striped task-tbl">
                                <thead>
                                <tr>
                                    <th class="fs15 text-left">Task Type</th>
                                    <th class="fs15 text-right">Skill</th>
                                    <th class="fs15 text-right">Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="task in selectedAgent.taskList">
                                    <td class="text-left">{{task.taskType}}</td>
                                    <td class="fs15 fw700 text-right"> {{task.skill}}</td>
                                    <td class="fs15 fw700 text-right">{{task.percentage}}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Agent Logs -->

        </div>

    </div>
</div>