<!--<div class="x_panel fixed_height_320">-->
<div class="x_panel">
    <!--<div class="x_title">
        <h2><i class="fa fa-align-left"></i> Queue
            <small>Details</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">

        </ul>
        <div class="clearfix"></div>
    </div>-->

    <h2 class="x_title_inner">Queue <small>Details</small></h2>
    <!--<div style="border-bottom: 2px solid #F7F7F7;"></div>-->
    <div class="x_content" style="padding: 0;">

        <div ng-hide="keys(queues).length>0">
            <div class="row ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="data-state-wrap">
                        No Data...
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="keys(queues).length>0" ui-grid="gridQOptions" class="qgrid" ui-grid-move-columns ui-grid-resize-columns  ui-grid-auto-resize ui-grid-pinning></div>

    </div>
</div>
