<div class="row">



    <div class="col-md-12 col-sm-6 col-xs-12">

        <!-- application list -->
        <div class="x_panel bg-light-gray animated fadeIn">
            <div class="x_title border-0">
                <div class="col-sm-12">
                    <div class="edit-close pull-right">
                        <i class="fa fa-close" ng-click="viewAction()"></i>
                    </div>
                </div>
                <h2 class="font-robot font-300 text-uppercase font-15">New Appointment</h2>

                <form name="newApp">
                    <div class="col-xs-12">
                        <div class="tile-stats m-top15">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left"
                                               ng-model="newAppointment.AppointmentName"
                                               placeholder="Appointment Name" required>
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left"
                                               ng-model="newAppointment.Action"
                                               placeholder="Action">
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                        <select class="form-control has-feedback-left" placeholder="select Recurrence Pattern"
                                                ng-model="newAppointment.RecurrencePattern" ng-change="optionChanger('RecurrencePattern')">
                                            <option value="" disabled selected>Select Recurrence Pattern</option>
                                            <option selected>NONE</option>
                                            <option>DAILY</option>
                                            <option>WEEKLY</option>

                                        </select>
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> Start Date</span>
                                        <input type="text" class="form-control" ng-model="newAppointment.StartDate" ng-change="onDateChange()" name="startDate"
                                               datepicker>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> Start Time</span>
                                        <input type="text" class="form-control" name="startTime" ng-model="newAppointment.StartTime" placeholder="hh:mm" />
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> End Date</span>
                                        <input type="text" class="form-control" ng-model="newAppointment.EndDate" ng-change="onDateChange()" name="endDate"
                                               datepicker>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> End Time</span>
                                        <input type="text" class="form-control" name="endTime" ng-model="newAppointment.EndTime" placeholder="hh:mm" />
                                    </div>

                                    <div class="col-md-12 col-sm-6 col-xs-12 form-group">

                                        <tags-input ng-model="newAppointment.newDaysOfWeek" display-property="DayName"

                                                    add-from-autocomplete-only="true" on-tag-added="onChipAdd($tag)"
                                                    on-tag-removed="onChipDelete($tag)" ng-disabled="!dayListMode" min-length="1"
                                                    placeholder="Add Days">
                                            <auto-complete source="querySearch($query)" load-on-empty="true"
                                                           load-on-focus="true" min-length="1"></auto-complete>
                                        </tags-input>
                                    </div>

                                </div>







                                <div class="row">


                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12  ">
                                        <button type="button" class="btn btn-success btn-block  btn- pull-right"
                                                ng-click="saveAppointment()" ng-disabled="newApp.$invalid">
                                            Add
                                        </button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end -->

        <!-- view application users -->
        <div class="x_panel">
            <div class="x_content">
                <ul class="list-unstyled timeline">
                    <li ng-repeat="Appointment in AppointmetList">

                        <editappointment schedule="schedule" appointment="Appointment" appointmentList="AppointmetList" show-edit="showEdits()" update-appointment="removeDeleted(Appointment)"
                                         reloadpage="reloadPage()"></editappointment>


                    </li>

                    <paging ng-show="showPaging"
                            class="small"
                            page="currentPage"
                            page-size="pageSize"
                            total="pageTotal"
                            show-prev-next="true"
                            show-first-last="true"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            paging-action="getPageData('attribute', page, pageSize, total)">
                    </paging>
                </ul>
            </div>
        </div>
        <!-- end -->
    </div>

</div>

</div>