<section id="campMWrapper"
         class="camp-m-wrapper">
    <!-- campaign header -->
    <header class="camp-m-header">
        <!-- UI hedaer -->
        <div class="col-lg-3">
            <div class="camp-header-left">
                <div class="camp-hleft-text hleft-lg">
                    CM
                </div>
                <div class="camp-hleft-text h-left-sm">
                    Campaign Manager
                </div>
            </div>


        </div>
        <!-- search -->
        <div class="col-lg-5"></div>
        <!-- create new campaign  -->
        <div class="col-lg-4"></div>
    </header>
</section>