<section id="campMWrapper"
         main-scroll-campaign
         class="camp-m-wrapper">
    <!-- campaign header -->
    <header class="camp-m-header"
            style="border-bottom: 1px solid #f7f7f7;">
        <!-- UI hedaer -->
        <div class="col-lg-3">
            <div class="camp-header-left" style="width: 250px;">
                <div class="camp-hleft-text hleft-lg">
                    CM
                </div>
                <div class="camp-hleft-text h-left-sm">
                    Campaign Manager - LookUp
                </div>
            </div>
            <span class="left-line"></span>
        </div>

    </header>

    <!-- campaign lookup wrapper -->
    <div class="camp-lookup-wrapper">
        <div class="col-lg-4">
            <div class="row">

                <div class="camp-lookup-opt-wrapper">
                    <!-- search -->
                    <div class="col-lg-12">
                        <div class="  form-group ">
                            <label class="cam-label">Select Category *</label>
                            <select class="form-control cam-textbox"
                                    ng-model="searchObj.CategoryID"
                                    ng-model-options="{trackBy: '$value'}"
                                    ng-disabled="searchObj.CampaignId">
                                <option value="" disabled selected>
                                </option>
                                <option ng-repeat="camCategory in campaignCategories"
                                        value="{{camCategory.CategoryID}}">
                                    {{camCategory.CategoryName.toUpperCase()}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- create new campaign  -->
                    <div class="col-lg-12">
                        <div class=" form-group ">
                            <label class="cam-label">Select Campaign Name *</label>
                            <select class="form-control cam-textbox"
                                    ng-model="searchObj.CampaignId"
                                    ng-change="loadCampaignSchedules(searchObj.CampaignId)"
                                    ng-model-options="{trackBy: '$value'}">
                                <option value="" disabled selected></option>
                                <option ng-repeat="newCampaign in newlyCreatedCampaigns"
                                        value="{{newCampaign.CampaignId}}">
                                    {{newCampaign.CampaignName.toUpperCase()}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class=" form-group ">
                            <label class="cam-label">Select Campaign Schedule </label>
                            <select class="form-control cam-textbox"
                                    ng-model="searchObj.CamScheduleId"
                                    ng-model-options="{trackBy: '$value'}"
                                    ng-disabled="!searchObj.CampaignId">
                                <option value="" disabled selected>
                                </option>
                                <option ng-repeat="cSchedule in campaignSchedules"
                                        value="{{cSchedule.CamScheduleId}}">
                                    {{cSchedule.ScheduleName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li>
                                <div class="create-btn-wrap">
                                    <div class="rectangle-create-new-c camp-search-btn"
                                         ng-click="searchNumbers();">
                                        <i class="ti-search"></i>
                                        Search
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="create-btn-wrap">
                                    <div class="rectangle-create-new-c camp-search-btn wizard-green-btn-save"
                                         ng-click="clearSearch();">
                                        <i class="ti-trash"></i>
                                        Clear
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8">
            <div class="row">
                <!-- table header -->
                <div class="camp-tbl-header">
                    <div class="col-lg-12">
                        <div class="tbl-header">Contact Info</div>
                    </div>

                </div>

                <div class="camp-tbl-body">

                    <!-- loader -->
                    <div class="loading-camp " ng-if="isLoadingLookUp">
                        <svg class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
                            <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"/>
                        </svg>
                    </div>

                    <div class="camp-contact-info-error">
                        <div class="contact-error-text" ng-if="categoryLookupObj.length==0 && !isLoadingLookUp">
                            Record is empty.
                        </div>
                    </div>


                    <div class="camp-tbl-row"
                         ng-repeat="cam in categoryLookupObj">
                        <div class="col-lg-12">
                            <div class="tbl-body-text">{{cam.ContactId}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>