<section id="campaignDetailsView"
         class="cam-details-wrapper">

    <header class="cam-details-header">
        <div class="col-lg-6">
            <div class="cam-header-name">Campaign Name</div>
            <div class="cam-select-name">
                {{ campaignSelectedData.CampaignName | limitTo: 20 }}
                {{campaignSelectedData.CampaignName.length > 20 ?
                '...' : ''}}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="camp-header-left-icon">
                <ul class="inline-list" style="text-align: right;">
                    <li>
                        <div class="camp-l-round-icon"
                             ng-if="!deleteConfig && !deletSuccessfully"
                             ng-click="deleteCampaign(campaignSelectedData)">
                            <i class="fa fa-trash-o trash-simple-line-icons"></i>
                        </div>
                        <div class="camp-l-round-icon load"
                             ng-if="deleteConfig && !deletSuccessfully">
                            <i class="fa fa-check trash-simple-line-icons"></i>
                        </div>
                        <div class="camp-l-round-icon "
                             ng-if="!deleteConfig && deletSuccessfully">
                            <i class="fa fa-check trash-simple-line-icons"></i>
                        </div>
                    </li>
                    <!--<li>-->
                    <!--<div class="camp-l-round-icon">-->
                    <!--<i class="fa fa-refresh refresh-simple-line-icons"></i>-->
                    <!--</div>-->
                    <!--</li>-->
                    <li>
                        <div class="camp-l-round-icon" ng-click="closeRightPanel()">
                            <i class="fa fa-close refresh-simple-line-icons"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="cam-status-wrapper">
        <div class="cam-status-play">

            <!-- campaign done status -->
            <ul class="list-inline customer-inline"
                ng-if="campaignSelectedData.OperationalStatus=='done'">
                <li>
                    <div class="cam-staus-btn-wrapper sm done">
                        <i class="fa fa-stop disable-icon"></i>
                    </div>
                </li>
                <li>
                    <div class="cam-staus-btn-wrapper lg done">
                        <i class="fa fa-play disable-icon"></i>
                    </div>
                </li>

                <li>
                    <div class="cam-staus-btn-wrapper sm done">
                        <i class="fa fa-pause disable-icon"></i>
                    </div>
                </li>
            </ul>

            <!-- campaign pause status -->
            <ul class="list-inline customer-inline"
                ng-if="campaignSelectedData.OperationalStatus=='pause'">
                <li>
                    <div ng-class="isSetCommand?'loading-stop-bg':''"
                         class="cam-staus-btn-wrapper sm pause animated bounceIn"
                         ng-click="sendCommandToCampaign(campaignSelectedData,'stop')">
                        <i class="fa fa-stop cam-stop"></i>
                    </div>
                </li>
                <li>
                    <div ng-class="isSetCommand?'loading-play-bg':''"
                         class="cam-staus-btn-wrapper lg pause animated bounceIn "
                         ng-click="sendCommandToCampaign(campaignSelectedData,'resume')">
                        <i class="fa fa-play"></i>
                    </div>
                </li>

                <li>
                    <div ng-class="isSetCommand?'loading-pause-bg':''"
                         class="cam-staus-btn-wrapper sm pause ">
                        <i class="fa fa-pause disable-icon"></i>
                    </div>
                </li>
            </ul>

            <!-- campaign stop status -->
            <ul class="list-inline customer-inline"
                ng-if="campaignSelectedData.OperationalStatus=='stop' ">
                <li>
                    <div ng-class="isSetCommand?'loading-stop-bg':''"
                         class="cam-staus-btn-wrapper sm stop animated bounceIn"
                         ng-click="sendCommandToCampaign(campaignSelectedData,'end')">
                        <i class="fa fa-eject cam-eject"></i>
                    </div>
                </li>
                <li>
                    <div ng-class="isSetCommand?'loading-play-bg':''"
                         class="cam-staus-btn-wrapper lg stop  ">
                        <i class="fa fa-play disable-icon"></i>
                    </div>
                </li>

                <li>
                    <div ng-class="isSetCommand?'loading-pause-bg':''"
                         class="cam-staus-btn-wrapper sm stop ">
                        <i class="fa fa-pause disable-icon"></i>
                    </div>
                </li>
            </ul>

            <!-- campaign start status -->
            <ul class="list-inline customer-inline"
                ng-if="campaignSelectedData.OperationalStatus=='start'||
                campaignSelectedData.OperationalStatus=='ongoing'">
                <li>
                    <div ng-class="isSetCommand?'loading-stop-bg':''"
                         class="cam-staus-btn-wrapper sm start">
                        <i class="fa fa-stop disable-icon"></i>
                    </div>
                </li>
                <li>
                    <div ng-class="isSetCommand?'loading-play-bg':''"
                         class="cam-staus-btn-wrapper lg start ">
                        <i class="fa fa-play  disable-icon"></i>
                    </div>
                </li>

                <li>
                    <div ng-class="isSetCommand?'loading-pause-bg':''"
                         class="cam-staus-btn-wrapper sm start animated bounceIn"
                         ng-click="sendCommandToCampaign(campaignSelectedData,'pause')">
                        <i class="fa fa-pause cam-pause"></i>
                    </div>
                </li>
            </ul>

            <!-- campaign create status -->
            <ul class="list-inline customer-inline"
                ng-if="campaignSelectedData.OperationalStatus=='create'">
                <li>
                    <div ng-class="isSetCommand?'loading-stop-bg':''"
                         class="cam-staus-btn-wrapper sm start">
                        <i class="fa fa-stop cam-stop disable-icon"></i>
                    </div>
                </li>
                <li>
                    <div ng-class="isSetCommand?'loading-play-bg':''"
                         class="cam-staus-btn-wrapper lg create animated bounceIn"
                         ng-click="startCampaign(campaignSelectedData)">
                        <i class="fa fa-play cam-play"></i>
                    </div>
                </li>

                <li>
                    <div ng-class="isSetCommand?'loading-pause-bg':''"
                         class="cam-staus-btn-wrapper sm start ">
                        <i class="fa fa-pause cam-pause disable-icon"></i>
                    </div>
                </li>
            </ul>

        </div>
        <div class="campaign-status-text">
            <ul class="customer-inline">
                <li>Campaign State</li>
                <li class="camp-status"> - {{campaignSelectedData.OperationalStatus}}</li>
            </ul>
        </div>

    </div>

    <section class="cam-current-details-wrapper">
        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Campaign Mode</li>
                <li class="right-align">{{campaignSelectedData.CampaignMode}}</li>
            </ul>
        </div>
        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Campaign Channel</li>
                <li class="right-align">{{campaignSelectedData.CampaignChannel}}</li>
            </ul>
        </div>

        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Dialout Mechanism</li>
                <li class="right-align">{{campaignSelectedData.DialoutMechanism}}</li>
            </ul>
        </div>

        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Extensions</li>
                <li class="right-align">{{campaignSelectedData.Extensions}}</li>
            </ul>
        </div>

        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Create @</li>
                <li class="right-align">{{campaignSelectedData.createdAt}}</li>
            </ul>
        </div>
        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Update @</li>
                <li class="right-align">{{campaignSelectedData.updatedAt}}</li>
            </ul>
        </div>
        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Last Response Time</li>
                <li class="right-align">{{campaignSelectedData.CampaignMode}}</li>
            </ul>
        </div>
        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Total Dial Count</li>
                <li class="right-align">{{campaignSelectedData.CampaignMode}}</li>
            </ul>
        </div>

        <div class="current-details-wrp">
            <ul class="customer-inline">
                <li class="left-align">Total Connected</li>
                <li class="right-align">1</li>
            </ul>
        </div>
    </section>

</section>