<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="font-robot font-300 text-uppercase font-15">Agent List
                <!-- <small>{{refreshTime| millisecondsToDateTime | date:'HH:mm:ss'}}</small>    -->
            </h2>
            <div class="clearfix">
                <button type="button" class="btn btn-success btn-sm pull-right attribute-btn"
                        ng-click="changeView();">
                    {{summaryText}}
                </button>
                <!--<button type="button" class="btn btn-success btn-sm pull-right attribute-btn"
                        ng-click="showAgentSummary();">
                    Summary
                </button>-->
            </div>
        </div>
        <div class="x_content">
            <br>

            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div ng-hide="summary" ng-repeat="productivity in Productivitys" class="col-md-4 col-sm-4  widget_tally_box">
                        <div class="x_panel fixed_height_480 agent-main-wrap   "
                             ng-class="{'reserved':productivity.slotState=='Reserved',
                    'available':productivity.slotState=='Available',
                    'connected':productivity.slotState=='Connected',
                    'afterWork':productivity.slotState=='AfterWork',
                    'suspended':productivity.slotState=='Suspended',
                    'outbound':productivity.slotState=='Outbound',
                    'break': productivity.slotState == 'MeetingBreak' ||
                    productivity.slotState == 'MealBreak' || productivity.slotState == 'TrainingBreak' ||
                    productivity.slotState == 'TeaBreak' || productivity.slotState == 'OfficialBreak' ||
                    productivity.slotState == 'AUXBreak' ||
                    productivity.slotState == 'ProcessRelatedBreak'}">
                            <div class="x_content">
                                <div class="flex">

                                    <div class="col-lg-12 ">
                                        <div class="list-inline widget_profile_box">
                                            <div class="col-md-4">
                                                <div class="slot-state">
                                                    {{productivity.slotState}}<br/>
                                                    <small>{{productivity.callInfos[0].Number}}</small>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-top: -28px;">
                                                <div class="text-center">
                                                    <img src="images/user.png" alt="..."
                                                         class="img-circle profile_img boarder-0a">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-right">
                                                    {{productivity.slotStateTime}}
                                                    <br/>
                                                    <small>{{productivity.callInfos[0].CallDirection}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <h3 class="name">{{productivity.ResourceName}}</h3>

                                <!--<div class="last-reserved-time connected-caller" ng-repeat="call in productivity.callInfos">
                                    <p>Caller</p>
                                    <small>{{call.Number}}</small>
                                    <small>{{call.CallDirection}}</small>
                                </div>-->

                                <div class="last-reserved-time" >
                                    <p>Last Reserved Time</p>
                                    <small>{{productivity.LastReservedTime}}</small>
                                </div>

                                <div class="flex">
                                    <ul class="list-inline count2 count3">
                                        <li>
                                            <h3>{{productivity.StaffedTime | secondsToDateTime | date:'HH:mm:ss'}}</h3>
                                            <span> Staffed Time </span>
                                        </li>
                                        <li>
                                            <h3>{{productivity.OnCallTime | secondsToDateTime | date:'HH:mm:ss'}}</h3>
                                            <span>On Call Time</span>
                                        </li>
                                    </ul>
                                </div>


                                <!-- task -->
                                <div class="task-wrap" ng-slimscroll
                                     ng-mouseover="viewScroll()"
                                     ng-mouseleave="hideScroll()"
                                     opacity="0.1"
                                     distance="5px"
                                     enabled="{{ scrollEnabled }}"
                                     width="100%">
                                    <table class="table table-striped task-tbl">
                                        <thead>
                                        <tr>
                                            <th class="fs15 text-left">Task Type</th>
                                            <th class="fs15 text-right">Skill</th>
                                            <th class="fs15 text-right">Percentage</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="task in productivity.taskList">
                                            <td class="text-left">{{task.taskType}}</td>
                                            <td class="fs15 fw700 text-right"> {{task.skill}}</td>
                                            <td class="fs15 fw700 text-right">{{task.percentage}}%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- other details -->
                                <div class="other-agent-details"
                                     ng-mouseover="viewOtherScroll()"
                                     ng-mouseleave="hideOtherScroll()"
                                        >
                                    <div class="row">
                                        <div class="col-md-4 tile">
                                            <span>Idle Time</span>

                                            <p> {{productivity.IdleTime| secondsToDateTime | date:'HH:mm:ss'}}</p>
                                        </div>
                                        <div class="col-md-4 tile">
                                            <span>Break Time</span>

                                            <p>{{productivity.BreakTime | secondsToDateTime | date:'HH:mm:ss'}}</p>
                                        </div>
                                        <div class="col-md-4 tile">
                                            <span>Acw Time</span>

                                            <p>{{productivity.AcwTime| secondsToDateTime | date:'HH:mm:ss'}}</p>
                                        </div>
                                        <div class="col-md-4 tile">
                                            <span>Hold Time</span>

                                            <p>{{productivity.HoldTime| secondsToDateTime | date:'HH:mm:ss'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 tile">
                                        <span>Miss Call</span>

                                        <p> {{productivity.MissCallCount}}</p>
                                    </div>
                                    <div class="col-md-4 tile">
                                        <span>Incoming Call</span>

                                        <p> {{productivity.IncomingCallCount}}</p>
                                    </div>
                                    <div class="col-md-4 tile">
                                        <span>Transfer Call</span>

                                        <p> {{productivity.TransferCallCount}}</p>
                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>


                    <div ng-show="summary" class="table-wrapper"
                         ng-slimscroll horizontal-scroll="true"
                         height="100%"
                         width="100%"
                         horizontal-scroll-position="bottom"
                         size="5px" opacity="0.4">
                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                               cellspacing="0" width="100%" role="grid"
                               aria-describedby="datatable-responsive_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="Tasks">Tasks
                                </th>
                                <th ng-show="showCallDetails" class="sorting" tabindex="0"
                                    aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="Call Info">Call Info
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="Name">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="State">State
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="State Time">State Time
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="AcwTime">AcwTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="BreakTime">BreakTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="HoldTime">HoldTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="OnCallTime">OnCallTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="IdleTime">IdleTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="StaffedTime">StaffedTime
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="IncomingCallCount">IncomingCallCount
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="MissCallCount">MissCallCount
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                    rowspan="1"
                                    colspan="1" aria-label="TransferCallCount">TransferCallCount
                                </th>

                            </thead>
                            <tbody>
                            <tr role="row" class="odd"
                                ng-repeat="productivity in Productivitys">
                                <th class="fs15 text-right"><!-- task -->
                                    <div ng-repeat="task in productivity.taskList">
                                        <small>{{task.taskType}}</small>
                                        <small>{{task.skill}}</small>
                                        <small>{{task.percentage}}%</small>
                                    </div>
                                </th>
                                <th class="fs15 text-left" ng-show="showCallDetails">
                                    <div ng-repeat="call in productivity.callInfos">
                                        <small>connect with : {{call["Caller-Caller-ID-Number"]}}</small>
                                        <small>Direction : {{call["DVP-Call-Direction"]}}</small>
                                    </div>
                                </th>
                                <th class="fs15 text-left">{{productivity.ResourceName}}</th>
                                <th class="fs15 text-right">{{productivity.slotState}}</th>
                                <th class="fs15 text-right">{{productivity.slotStateTime}}</th>
                                <th class="fs15 text-right">{{productivity.AcwTime| secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right">{{productivity.BreakTime| secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right">{{productivity.HoldTime| secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right">{{productivity.OnCallTime| secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right"> {{productivity.IdleTime| secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right">{{productivity.StaffedTime | secondsToDateTime |
                                    date:'HH:mm:ss'}}
                                </th>
                                <th class="fs15 text-right">{{productivity.IncomingCallCount}}</th>
                                <th class="fs15 text-right">{{productivity.MissCallCount}}</th>
                                <th class="fs15 text-right">{{productivity.TransferCallCount}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
