<div class="profile-status-wrapper">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3 class="font-robot font-600 ">All Profiles</h3>
            </div>
        </div>
        <!-- SUSPEND  PROFILE -->
        <div class="x_panel">
            <h2>Suspended <b class="profile-status-right">{{SuspendedProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-3 col-sm-3 col-xs-3 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in SuspendedProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>-->
                        <p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END SUSPEND PROFILE -->


        <!-- AVAILABLE  PROFILE -->
        <div class="x_panel">
            <h2>Available <b class="profile-status-right">{{AvailableProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in AvailableProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END AVAILABLE PROFILE -->

        <!-- CONNECTED  PROFILE -->
        <div class="x_panel">
            <h2>Connected <b class="profile-status-right">{{ConnectedProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in ConnectedProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>-->
                        <p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END CONNECTED PROFILE -->


        <!-- BREAK PROFILE -->
        <div class="x_panel">
            <h2>Break <b class="profile-status-right">{{BreakProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in BreakProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END BREAK PROFILE -->


        <!-- OUTBOUND  PROFILE -->
        <div class="x_panel">
            <h2>Outbound <b class="profile-status-right">{{OutboundProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in OutboundProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END OUTBOUND PROFILE -->

        <!-- OUTBOUND  PROFILE -->
        <div class="x_panel">
            <h2>After Work <b class="profile-status-right">{{AfterWorkProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in AfterWorkProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END OUTBOUND PROFILE -->


        <!-- RESERVED  PROFILE -->
        <div class="x_panel">
            <h2>Reserved <b class="profile-status-right">{{ReservedProfile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in ReservedProfile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END AVAILABLE PROFILE -->


        <!-- RESERVED  PROFILE -->
        <div class="x_panel">
            <h2> Other <b class="profile-status-right">{{profile.length}}</b>
            </h2>
            <ul class="list-unstyled top-profile-shadow scroll-view">
                <li class="col-md-2 col-sm-2 col-xs-2 media event "
                    ng-class="{'reserved':resource.slotState=='Reserved',
                                               'available':resource.slotState=='Available',
                                               'connected':resource.slotState=='Connected',
                                               'afterWork':resource.slotState=='AfterWork',
                                               'outbound':resource.slotState=='Outbound',
                                               'suspended':resource.slotState=='Suspended',
                                               'break': resource.slotState == 'MeetingBreak' ||
                                                resource.slotState == 'MealBreak' || resource.slotState == 'TrainingBreak' ||
                                                resource.slotState == 'TeaBreak' || resource.slotState == 'OfficialBreak' ||
                                                resource.slotState == 'AUXBreak' ||
                                                resource.slotState == 'ProcessRelatedBreak'}"
                    ng-repeat="resource in profile">
                    <div class="profile-status-dah"></div>
                    <div class="pull-left border-aero profile_thumb">
                        <img src="asset/images/defaultProfile.png"
                             ng-src="{{resource.avatar}}"/>
                    </div>
                    <div class="media-body">
                        <a class="title" href="javascript:void(0)">
                            {{ resource.name | limitTo: 10 }}{{resource.name.length > 10 ? '...' : ''}}
                        </a>
                        <!--<p>{{resource.LastReservedTime}} </p>--><p><time-ago from-time='{{ resource.LastReservedTimeT }}' format='MM/dd/yyyy'></time-ago> </p>
                        <p>
                            <small>
                                {{resource.slotState}}
                            </small>
                        </p>
                        <p>
                            <small>
                                {{resource.slotMode}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END AVAILABLE PROFILE -->
    </div>
</div>