<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="font-robot font-300 text-uppercase font-15">Agent List
                <small>{{refreshTime| millisecondsToDateTime | date:'HH:mm:ss'}}</small>
            </h2>
            <div class="clearfix"><button type="button" class="btn btn-success btn-sm pull-right attribute-btn"
                                          ng-click="changeView();">
                {{summaryText}}
            </button></div>
        </div>
        <div class="x_content">
            <br>
            <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <agentstatus call-infos="showCallInfos" show-summary="summary" productivity-list="productivity" res-item="res"

                                     active-call-list="activeCalls"
                                     attributes-list="attributesList" ng-repeat="res in profile"></agentstatus>

                    </div>


                </div>

            </form>
        </div>
    </div>
</div>
