<div ng-controller="resourceProductivityController">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <div class="title_left">
                    <h3 class="font-robot font-600 ">Call CDR Report</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="p in OnlineAgents">
            <div class="x_panel">

                <div class="x_content productivity-panel">
                    <div class="x_title">
                        <h2 class="font-robot font-300 text-uppercase font-15">{{p.ResourceName}}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div id="{{p.ResourceId}}" style="height:350px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>



