<div ng-controller="resourceController">
    <!--<div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="p in Productivitys">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{p.ResourceName}}</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <canvas id="doughnut" class="chart chart-doughnut" chart-data="p.data" chart-labels="labels">
                </canvas>

                <div class="caption">
                    <div>
                    <span class="control-label col-md-3 col-sm-3 col-xs-12"><i class="green"><i
                            class="fa fa-sort-asc"></i>Total Call : </i>{{p.IncomingCallCount}}</span>
                    </div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>Miss Call : </i>{{p.MissCallCount}}</span>
                </div>

            </div>
        </div>
    </div>-->

    <div class="main_container" >

        <div class="right_col" role="main" >
            <div class="">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12"  ng-repeat="p in OnlineAgents" >
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{p.ResourceName}}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="{{p.ResourceId}}" style="height:350px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



