<section ng-controller="campaignWizardController">
    <section class="cam-wizard-wrapper cam-wizard-wrap-height animated fadeIn">

        <div id="uploadLoaindWizard"
             class="upload-campaign-status display-none">
            <div class="upload-status">
                <h5>Uploading...</h5>
                <uib-progressbar animate="false"
                                 class="progress-camp-upload"
                                 value="numberProgress"
                                 type="success"><b>{{numberProgress}}%</b>
                </uib-progressbar>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <div class="cam-left-wrapper cam-wizard-wrap-height">

                    <header class="cam-wizard-left-header">
                        New<br/> Campaign
                    </header>

                    <div class="cam-wizard-t-line">

                        <ul class="wizard-time-line-wrp">
                            <li id="1stStepWizard" class="processing">
                                <div class="t-line wizard-count active">
                                    1
                                </div>
                                <div class="t-line wizard-desc">
                                    Basic <br/>Campaign Info
                                </div>
                            </li>
                            <li id="2ndStepWizard" class="">
                                <div class="t-line wizard-count active">
                                    2
                                </div>
                                <div class="t-line wizard-desc">
                                    Campaign <br/> Schedule
                                </div>
                            </li>

                            <li id="3ndStepWizard"
                                class="">
                                <div class="t-line wizard-count active">
                                    3
                                </div>
                                <div class="t-line wizard-desc">
                                    Campaign <br/> Config
                                </div>
                            </li>
                            <li id="4ndStepWizard" class="">
                                <div class="t-line wizard-count active">
                                    4
                                </div>
                                <div class="t-line wizard-desc">
                                    Number <br/> Upload
                                </div>
                            </li>
                        </ul>

                    </div>


                    <div class="wizard-btn-wrapper">
                        <!-- campaign create -->
                        <ul class="customer-inline" ng-show="step==1">
                            <li>
                                <button class="btn btn-wizard"
                                        disabled>
                                    Back
                                </button>
                            </li>
                            <li ng-if="!isCreateNewCampaign">
                                <button class="btn btn-wizard"
                                        ng-disabled="campaignFrmStep1.$invalid"
                                        ng-click="changeFormWizard('2')">
                                    Next
                                    <i class="ti-angle-right"></i>
                                </button>
                            </li>
                            <li ng-if="isCreateNewCampaign">
                                <button class="btn btn-wizard">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                </button>
                            </li>
                        </ul>

                        <!-- campaign schedule -->
                        <ul class="customer-inline" ng-show="step=='2'">
                            <li>
                                <!--ng-click="wizardBackMove('2')"-->
                                <button class="btn btn-wizard"
                                        ng-click="changeFormWizard('1')">
                                    <i class="ti-angle-left"></i>
                                    Back
                                </button>
                            </li>
                            <li>
                                <button ng-if="addedSchedule.length!=0"
                                        class="btn btn-wizard"
                                        ng-click="changeFormWizard('3')">
                                    Next
                                    <i class="ti-angle-right"></i>
                                </button>

                                <button class="btn btn-wizard"
                                        ng-if="addedSchedule.length==0"
                                        disabled>
                                    Next
                                    <i class="ti-angle-right"></i>
                                </button>
                            </li>
                        </ul>

                        <!-- campaign config -->
                        <ul class="customer-inline" ng-show="step=='3'">
                            <li>
                                <button class="btn btn-wizard"
                                        ng-click="wizardBackMove('3')">
                                    <i class="ti-angle-left"></i>
                                    Back
                                </button>
                            </li>
                            <li>
                                <button class="btn btn-wizard"
                                        ng-click="changeFormWizard('4')">
                                    Next
                                    <i class="ti-angle-right"></i>
                                </button>
                            </li>
                        </ul>

                        <!-- number upload -->
                        <ul class="customer-inline" ng-show="step=='4'">
                            <li>
                                <button class="btn btn-wizard"
                                        ng-click="wizardBackMove('4')">
                                    <i class="ti-angle-left"></i>
                                    Back
                                </button>
                            </li>
                            <li>
                                <button ng-show="!uploadButtonValue"
                                        class="btn btn-wizard"
                                        ng-click="uploadNumbers()">
                                    Done

                                </button>
                                <button class="btn btn-wizard"
                                        ng-show="uploadButtonValue">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div ng-show="step==1"
                     ng-include="'campaignManager/template/new-campaign/step1.html'"></div>
                <div ng-show="step==2"
                     ng-include="'campaignManager/template/new-campaign/step2.html'"></div>
                <div ng-show="step==3"
                     ng-include="'campaignManager/template/new-campaign/step3.html'"></div>
                <div ng-if="step==4"
                     ng-include="'campaignManager/template/new-campaign/step4.html'">
                </div>
            </div>

        </div>


    </section>

</section>

