<div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Call Monitor<small>ongoing call viewer</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">



                <div class="">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings veery-tbl-clmn-hdr">
                            <th class="column-title" >Direction </th>
                            <th class="column-title"style="text-align: justify">From </th>
                            <th class="column-title"style="text-align: justify">To </th>
                            <th class="column-title lstCol">Actions </th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer veery-tbl-body" ng-repeat="call in CallObj" >

                            <td class="  ">{{call.Direction}}</td>
                            <td class="  ">{{call.FromID}} </td>
                            <td class="  ">{{call.ToID}} </td>

                            <td class="lstCol">
                                <button type="submit" class="btn btn-primary" ng-click="callME()"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>



                        </tr>


                        <!--<tr class="odd pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="even pointer">
                            <td class="  "> <i class="fa fa-arrow-up"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="even pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="even pointer">
                            <td class="  "> <i class="fa fa-arrow-up"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" "> </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> Listen</button>
                                <button type="submit" class="btn btn-primary"> Barge</button>
                            </td>
                        </tr>

                        <tr class="even pointer">
                            <td class="  "> <i class="fa fa-arrow-up "></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>
                        <tr class="odd pointer">
                            <td class="  "> <i class="fa fa-arrow-down"></i></td>
                            <td class=" ">0776589080 </td>
                            <td class=" ">user1 </td>
                            <td class=" ">
                                <button type="submit" class="btn btn-primary"> <span class="fa fa-bullhorn" aria-hidden="true"></span> Listen</button>
                                <button type="submit" class="btn btn-primary"><span class="fa fa-phone" aria-hidden="true"></span> Listen</button>
                            </td>
                        </tr>-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>