<!--<small>{{selectedAttribute.Attribute}}</small>-->
<i class="fa fa-close" ng-click="deleteAttribute(selectedAttribute)" style="cursor: pointer"><small>{{selectedAttribute.Attribute}}</small></i>
<input class="knob" data-width="60" data-height="70" data-displayPrevious=true data-fgColor="#26B99A" data-skin="tron"
       data-thickness=".2" value="{{ knobValue }}"  id="{{knobId}}">



<!--<div  range-slider min="0" max="100" model-min="0" model-max="valurA" pin-handle="min" disabled="false"> </div>-->

