<div class="block" >
    <div class="tags">
        <a class="tag">
            <span>{{resource.ResourceId}}</span>
        </a>
    </div>
    <div class="block_content" >
        <h2 class="title">
            <a>Name : {{resource.ResourceName}}</a>
            <a ng-disabled="true" ng-click="deleteResource(resource)"style="cursor: pointer"><i class="fa fa-trash-o"></i></a>
            <a ng-disabled="true" ng-click="editResource()"style="cursor: pointer"><i class="fa fa-edit"></i></a>
        </h2>

        <div class="col-xs-12" ng-show="editMode">
            <div class="tile-stats">
                <form class="form-horizontal form-label-left input_mask">
                    <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="resource.ResourceName"
                               placeholder="Resource Name">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="resource.ResClass"
                               placeholder="Resource Class">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="resource.ResType"
                               placeholder="Resource Type">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="resource.ResCategory"
                               placeholder="Resource Category">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="resource.OtherData"
                               placeholder="Other Data">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                        <button type="button" class="btn btn-success btn-xs " ng-click="saveResource(resource)">
                            Add
                        </button></div>
                </form>
            </div>
        </div>


        <div class="byline">
            <span>{{resource.createdAt|date:'MM/dd/yyyy @ h:mma'}}</span>
        </div>
        <p class="excerpt col-md-4"> Class : {{resource.ResClass}} </p>
        <p class="excerpt col-md-4"> Type : {{resource.ResType}} </p>
        <p class="excerpt col-md-4"> Category: {{resource.ResCategory}} </p>
        <p class="excerpt col-md-12"> Other Data : {{resource.OtherData}} </p>

        <div class="clearfix"></div>
    </div>
</div>