<div class="block">
    <div class="tags">
        <a class="tag">
            <span>{{resource.ResourceId}}</span>
        </a>
    </div>
    <div class="block_content">
        <h2 class="title">
            <a ng-hide="editMode">Name : {{resource.ResourceName}}</a>
            <a ng-disabled="true" ng-click="deleteResource(resource)" style="cursor: pointer"><i
                    class="fa fa-trash-o"></i></a>
            <a ng-disabled="true" ng-click="editResource()" style="cursor: pointer"><i class="fa fa-edit"></i></a>
        </h2>

        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="editMode">
            <br>

            <div class="col-md-12 col-sm-6 col-xs-12 col-xs-12">
                <div class="tile-stats">

                    <form class="form-horizontal form-label-left input_mask">
                        <br>

                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="resource.ResourceName"
                                   placeholder="Resource Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="resource.ResClass"
                                   placeholder="Resource Class">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="resource.ResType"
                                   placeholder="Resource Type">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="resource.ResCategory"
                                   placeholder="Resource Category">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="resource.OtherData"
                                   placeholder="Other Data">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="thumbnaildrag" data-drop="true" ng-model='attachedTask'
                                 data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=deletedTask])'}"
                                 jqyoui-droppable="{multiple:true}">
                                <div class="caption">
                                    <div class="btn btn-info btn-draggable" ng-repeat="item in attachedTask" ng-show="item.ResTaskInfo.TaskName"
                                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                         ng-model="attachedTask" jqyoui-draggable="{index: {{$index}},animate:true,}">{{item.ResTaskInfo.TaskName}}:{{item.Concurrency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-3 col-xs-6 form-group has-feedback">
                            <div class="thumbnaildrag" data-drop="true" ng-model='deletedTask'
                                 data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=availableTask])'}"
                                 jqyoui-droppable="{multiple:true}">
                                <div class="caption">
                                    <div class="btn btn-info btn-draggable" ng-repeat="item in deletedTask" ng-show="item.ResTaskInfo.TaskName"
                                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                         ng-model="deletedTask" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.ResTaskInfo.TaskName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                            <div class="thumbnaildrag" data-drop="true" ng-model='availableTask'
                                 data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=deletedTask])'}"
                                 jqyoui-droppable="{multiple:true}">
                                <div class="caption">
                                    <div ng-click="setCurrentDrag(item)" class="btn btn-info btn-draggable" ng-repeat="item in availableTask" ng-show="item.ResTaskInfo.TaskName"
                                         data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                         ng-model="availableTask" jqyoui-draggable="{index: {{$index}},animate:true,beforeDrop: 'beforeDrop'}">{{item.ResTaskInfo.TaskName}}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback">
                            <button type="button" class="btn btn-success btn-xs " ng-click="UpdateResource(resource)">
                                Update
                            </button>

                        </div>
                    </form>
                </div>
            </div>

        </div>


        <div class="byline" ng-hide="editMode">
            <span>{{resource.createdAt|date:'MM/dd/yyyy @ h:mma'}}</span>
        </div>
        <div ng-hide="editMode">
            <p class="excerpt col-md-4"> Class : {{resource.ResClass}} </p>

            <p class="excerpt col-md-4"> Type : {{resource.ResType}} </p>

            <p class="excerpt col-md-4"> Category: {{resource.ResCategory}} </p>

            <p class="excerpt col-md-12"> Other Data : {{resource.OtherData}} </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>