<div class="application-setting-model">
    <div class="col-md-12 col-sm-6 col-xs-12 col-xs-12">
        <div class="tile-stats modal-wrap">
            <h2 class="font-robot font-300 font-20"><i class="fa fa-cogs"></i>Files</h2>

            <div class="row">
                <div ng-if="allEligibleList.length==0" class="col-lg-12">
                    <h5 class="font-robot font-300">Files not found..</h5>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row model-body-text" ng-repeat="file in allEligibleList">
                    <div class="col-md-10 font-15 text-right">
                        {{file.Filename}} (version - {{file.Version}})
                    </div>
                    <div class="col-md-2 text-right">
                        <input type="checkbox"
                               class="js-switch"
                               ng-model="file.isChecked"
                               ng-change="fileAttachDetach(file)"/>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


